@using OnlineShopWebApp.Models
@model Product

@{
    ViewData["Title"] = "Product Page";
}

<div class="row">
        <div class="col col-md-7">
            <img class="img-thumbnail" src="@Model.Image" alt="@Model.Name">
        </div>
        <div class="col-md-5 align-self-end">
            <a style="color: darkblue" href="/product/index/@Model.Id"><h5>@Model.Name</h5></a>
            <h6>$@Model.Cost</h6>
            <p>@Model.Description</p>
            <div class="row justify-content-end">
                <div class="col-auto mr-auto">
                    <a class="btn btn-outline-dark btn-sm text-nowrap" href="/basket/add/@Model.Id" role="button">Add to basket</a>
                </div>
                <div class="col-auto mr-auto">
                    <a class="btn btn-outline-dark btn-sm text-nowrap" href="/" role="button">Continue shopping</a>
                </div>
                <div class="col-auto mr-auto">
                    <a class="btn btn-outline-dark btn-sm text-nowrap" href="/compare/add/@Model.Id" role="button">Compare</a>
                </div>
            </div>
        </div>
</div>