@model Product
@{
	ViewData["Title"] = "Product Page";
}

<a href="/">
	<h5>Продолжить покупки</h5>
</a>
<div class="row">

	<partial name="Product"/>

</div>

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

