@using OnlineShopWebApp.Models
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Product Page";
}

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col col-md-7">
            <img class="img-thumbnail" src="/img/teide.jpg" alt="Teide">
        </div>
        <div class="col-md-5 align-self-end">
            <a style="color: black" href="/product/index/@product.Id"><h5>@product.Name</h5></a>
            <h6>@product.Cost руб.</h6>
            <p>@product.Description</p>
            <div class="row justify-content-between">
                <div class="col-auto mr-auto">
                    <a class="btn btn-outline-dark btn-sm text-nowrap" href="/basket/index/@product.Id" role="button">Добавить в корзину</a>
                </div>
                <div class="col-auto">
                    <a class="btn btn-outline-dark btn-sm text-nowrap" href="/" role="button">Продолжить покупки</a>
                </div>
            </div>
        </div>
    }
</div>