@using OnlineShopWebApp.Models
@model Product



@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
@if (Model != null)
{
    <div class="col-6 card shadow-sm">
            <img class="card-img-bottom" src="https://poshvu.ru/img/b/170418/paltovaya-tkan-zelenogo-cveta-2-69015.jpg.c.jpg">

            <div class="card-body">
                <a style="color:green">
                    <h5>@Model.Name</h5>
                </a>
                <h6>Цена за 1 м.п. @Model.Cost руб.</h6>
                <h6>@Model.Description</h6>
                <a class="btn btn-danger" href="/cart/add?productId=@Model.Id" role="button">Добавить в корзину</a>
                <a class="btn btn-dark" href="https://localhost:5001/Home/index" role="button">Вернуться на главную страницу</a>
            </div>
        </div>
}
else
{
    <p>Продукт не найден</p>
}


