@model Product

<div class="row">
    <div class="col-2 card shadow">
        <img class="card-img-bottom" src="https://static4.depositphotos.com/1015530/309/i/600/depositphotos_3098299-stock-photo-single-green-book.jpg" />
    </div>
    <div class="col-3">
        <h4>@Model.Name</h4>
        <h5>@Model.Description</h5>
    </div>
    <div class="col-2">
        <h4>@Model.Cost руб.</h4>
        <a class="btn btn-success btn-sm" href="https://localhost:5001" role="button">Продолжить покупки</a>
        <p></p>
        <a class="btn btn-success btn-sm" href="#" role="button">Добавить в корзину</a>
    </div>




</div>
