@model Product


<img class src="https://cdnn1.img.sputniknews-uz.com/img/07e5/0a/13/20963736_0:100:1921:1180_1920x0_80_0_0_929d0b965b3dabf775b39cd28895d319.jpg"
     height=400>
<br />

<h4>
    @Model.Name<br>
    Цена: @Model.Cost
</h4>
<p>
    @Model.Description
</p>

<div class="row">
    <div class="col">
        <a class="btn btn-dark" href="/cart/addtocart/@Model.Id/" role="button">добавить в корзину</a>
    </div>
    <div class="col">
        <a class="btn btn-dark" href="/comparison/addtocompare/@Model.Id" role="button">сравнить</a>
    </div>
    <div class="col">
        <a class="btn btn-dark" href="/favorites/addtofavorites/@Model.Id" role="button">в избранное</a>
    </div>
    <div class="col">
        <a class="btn btn-dark" href="/home/index/" role="button">Продолжить покупки</a>
    </div>




</div>
