@using OnlineShopWebApp.Models
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Product Page";
}


@foreach (Product p in Model)
{
    <p>@p.Id<br />@p.Name<br />@p.Cost руб.<br />@p.Description</p>
}
