@using OnlineShop.Db.Models

@model ProductViewModel

@{
    ViewData["Title"] = "Home Page";
}

@if (Model == null)
{
    <div class="404">
        <h2 align="center">Страница не найдена</h2>
        <img class="card-img-top" src="/images/404.jpg" />
        <h2 align="center">Такой услуги нет в списке, введите корректное значение 1-5</h2>
    </div>
}
else
{
    <div class="row">
        <div class="col-6 card-body shadow">
            <img class="card-img-top" src=@Model.ImagePath alt="Изображение услуги" />
            <div class="card-body">
                <h4>@Model.Name</h4>
                <h4>Цена: @Model.Cost рублей</h4>
                <p>Описание услуги: @Model.Description</p>
                <a class="btn btn-dark" href="/home/index" role="button">Продолжить покупки</a>
                <a class="btn btn-dark" href="/cart/add/?productId=@Model.Id" role="button">Добавить в корзину</a>
            </div>
        </div>
    </div>
}
