@model ProductViewModel


<<img class="card-img-top" src="@Model.imagePath">
     height=400>
<br />

<h4>
    @Model.Name<br>
    Цена: @Model.Cost
</h4>
<p>
    @Model.Description
</p>

<div class="row">
    <div class="col">
        <a class="btn btn-dark" href="/cart/addtocart/@Model.Id/" role="button">добавить в корзину</a>
    </div>
    <div class="col">
        <a class="btn btn-dark" href="/comparison/addtocompare/@Model.Id" role="button">сравнить</a>
    </div>
    <div class="col">
        <a class="btn btn-dark" href="/favorites/addtofavorites/@Model.Id" role="button">в избранное</a>
    </div>
    <div class="col">
        <a class="btn btn-dark" href="/home/index/" role="button">Продолжить покупки</a>
    </div>




</div>
