<form method="post">
    <div class="container align-content-center">
        <div class="row text-center">
            <div class="col-4 mx-auto">
                <h2>Зарегестрируйтесь</h2>
                <div class="mb-3">
                    <input class="form-control" type="text" name="name" placeholder="Введите имя">
                </div>
                <div class="mb-3">
                    <input class="form-control" type="password" name="password" placeholder="Введите пароль">
                </div>
                <div class="mb-3">
                    <input class="form-control" type="password" name="ConfirmPassword" placeholder="Повторите пароль">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-outline-dark" asp-controller="Registration" asp-action="Registrate">Зарегестрироваться</button>
                </div>
            </div>
        </div>
    </div>
</form>