<form method="post">
<h5>
    Регистрация
</h5>
<div>

    <input type="text" name="login" placeholder="Логин" /> <br />
    <input type="text" name="password" placeholder="Пароль" /> <br />
    <input type="text" name="confirmedpassword" placeholder="Подтвердите пароль" /> <br />

</div>
    <br />
<div>
    <button class="btn btn-dark" type="submit" asp-controller="Registration" asp-action="Register">Зарегистриоваться</button> <br />
    
</div>

</form>