@model Authorization
<form method="post">
    <h5>
        Вход
    </h5>

    <input type="hidden" name="returnUrl" value="@Model.ReturnUrl" />

    <div>
        <label asp-for="Login"></label><br />
        <input asp-for="Login" />
        <span asp-validation-for="Login"></span>
    </div>
    <div>
        <label asp-for="Password"></label><br />
        <input asp-for="Password" />
        <span asp-validation-for="Password"></span>
    </div>

    <div>
        <input type="checkbox" asp-for="RememberMe" typeof="bool" value="true" /> Запомнить меня? <br />
        <button class="btn btn-dark" type="submit" asp-controller="Authorization" asp-action="Login">Войти</button> <br />
        <br />

         
    </div>
    <div>
        <a class="form-control"  asp-controller="Registration" asp-action="Register" asp-route-returnUrl="@Model.ReturnUrl">Регистрация нового пользователя </a>
    </div>

</form>
@section Scripts{
<script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}