@using OnlineShopWebApp.Models

@model Product

<form method="post">
    <div class="row">
        @await Html.PartialAsync("AdminPanel")
        <div class="col text-center">
            <h3>Добавление новой услуги</h3>
            <label asp-for="Name">Название</label>
            <input asp-for="Name"/>
            <span asp-validation-for="Name"></span>
            <br />
            <label asp-for="Cost">Цена</label>
            <input asp-for="Cost"/>
            <span asp-validation-for="Cost"></span>
            <br />
            <label asp-for="Description">Описание</label>
            <input asp-for="Description"/>
            <span asp-validation-for="Description"></span>
            <br />
            <button class="btn btn-dark" type="submit" asp-controller="Product" asp-action="AddProduct" asp-route-product="@Model">Добавить</button>
        </div>
    </div>
</form>