@{
    ViewData["Title"] = "Отчет об оформлении заказа";
}

<div class="text-center">
    <h2 class="display-5 Title_sile">Заказ выполнен удачно</h2>
    <p></p>
</div>

<a class="btn btn-outline-dark text-nowrap btn-sm mx-1 my-1 text-center" asp-area="" asp-controller="Home" asp-action="Index" role="button">Продолжить покупки</a>


