@using OnlineShopWebApp.Models
@model Delivery

@{
    ViewData["Title"] = "Order";
}

<div class="container">
    <div class="row text-center">
        <div class="col-5">
            <h2>Order</h2>
            <form asp-action="Buy" asp-controller="Order">
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <h5>Input your delivery details:</h5>
                <p>Address:</p>
                <div class="mb-3">
                    <input class="form-control form-control-sm" asp-for="Address.ZipCode" placeholder="Zip Code" />
                    <span asp-validation-for="Address.ZipCode"></span>
                </div>
                <div class="mb-3">
                    <input class="form-control form-control-sm" asp-for="Address.Country" placeholder="Country" />
                    <span asp-validation-for="Address.Country"></span>
                </div>
                <div class="mb-3">
                    <input class="form-control form-control-sm" asp-for="Address.City" placeholder="City" />
                    <span asp-validation-for="Address.City"></span>
                </div>
                <div class="mb-3">
                    <input class="form-control form-control-sm" asp-for="Address.Street" placeholder="Street" />
                    <span asp-validation-for="Address.Street"></span>
                </div>
                <div class="mb-3">
                    <input class="form-control form-control-sm" asp-for="Address.House" placeholder="House" />
                    <span asp-validation-for="Address.House"></span>
                </div>
                <div class="mb-3">
                    <input class="form-control form-control-sm" asp-for="Address.Apartment" placeholder="Apartment" />
                    <span asp-validation-for="Address.Apartment"></span>
                </div>
                <div class="mb-3">
                    <input class="form-control form-control-sm" asp-for="Phone" placeholder="Phone" />
                    <span asp-validation-for="Phone"></span>
                </div>
                <div class="mb-3">
                    <input class="form-control form-control-sm" asp-for="Email" placeholder="Email" />
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="mb-3">
                    <button class="btn btn-dark btn-sm text-nowrap mt-3" type="submit" asp-controller="Order" asp-action="Buy">Buy</button>
                </div>
            </form>
        </div>
        <div class="row">
            <div class="col-12 text-center">
                <a class="btn btn-outline-dark btn-sm text-nowrap" href="/" role="button">Continue shopping</a>
            </div>
        </div>
    </div>
</div>