<div class="row text-center">
    <div class="col">

        <label>Введите ФИО</label>
        <div>
            <input class="text" />
        </div>

        <label>Введите адрес доставки</label>
        <div>
            <input class="text" />
        </div>

        <label>Введите номер телефона</label>
        <div>
            <input class="text" />
        </div>

        <br />
        <a class="btn btn-outline-success" href="/order/buy" role="button">Оформить заказ</a>
    </div>
</div>
