
    <div class="row text-center">
        <div class="col text-center">
            <label>Фамилия Имя</label>
            <input type="text"/>
            <br />
            <label>Адрес</label>
            <input type="text"/>
            <br />
            <label>Номер телефона</label>
            <input type="text"/>
            <br />
            <a class="btn btn-success btn-sm" href="/order/buy" role="button">Завершить оформление</a>
        </div>
    </div>
