<form method="post"> 
    <div class="row">
        <div class="col">

            <lable>Name</lable>
            <div>
                <input type="text" name="name"/>
            </div>

            <lable>Address</lable>
            <div>
                <input type="text" name="address"/>
            </div>

            <lable>Phone</lable>
            <div>
                <input type="text" name="phone"/>
            </div>

            <br />
            <button class="btn btn-outline-success btn-sm" type="submit" asp-controller="Order" asp-action="Buy">Сomplete</button>
        </div>
    </div>
</form>
