@model UserDeliveryInfo

<form method="post">

    <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>

    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="InputName">Имя</label>
            <input type="text" class="form-control" asp-for="InputName" placeholder="Имя" />
        </div>
        <div class="form-group col-md-6">
            <label asp-for="InputLastName">Фамилия</label>
            <input type="text" class="form-control" asp-for="InputLastName" placeholder="Фамилия" />
        </div>
    </div>
    <div class="form-group">
        <label asp-for="InputCity">Город</label>
        <input type="text" class="form-control" asp-for="InputCity" placeholder="Город" />
    </div>
    <div class="form-group">
        <label asp-for="InputAddress">Адрес доставки</label>
        <input type="text" class="form-control" asp-for="InputAddress" placeholder="Адрес" />
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label asp-for="InputEmail">Электронный адрес</label>
            <input type="email" class="form-control" asp-for="InputEmail" />
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Способо доставки</label>
            <select id="inputState" class="form-control">
                <option selected>Способ доставки..</option>
                <option>Эконом</option>
                <option>Эконом+</option>
                <option>Стандарт+</option>
                <option>Супер быстрый</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="inputPromo">Промокод</label>
            <input type="text" class="form-control" name="inputPromo">
        </div>
    </div>
    <div class="form-group">
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" asp-controller="Order" asp-action="Index"> Запомнить мои данные
            </label>
        </div>
    </div>
    <button class="btn btn-primary" type="submit">Отмена</button>
    <button class="btn btn-primary" type="submit" asp-controller="Order" asp-action="Buy">Оформить</button>
</form>