<form method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputName">Имя</label>
            <input type="text" class="form-control" name="inputName" placeholder="Имя">
        </div>
        <div class="form-group col-md-6">
            <label for="inputLastName">Фамилия</label>
            <input type="text" class="form-control" name="inputLastName" placeholder="Фамилия">
        </div>
    </div>
    <div class="form-group">
        <label for="inputCity">Город</label>
        <input type="text" class="form-control" name="inputCity" placeholder="Город">
    </div>
    <div class="form-group">
        <label for="inputAddress2">Адрес доставки</label>
        <input type="text" class="form-control" name="inputAddress" placeholder="Адрес">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail">Электронный адрес</label>
            <input type="email" class="form-control" name="inputEmail">
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">Способо доставки</label>
            <select id="inputState" class="form-control">
                <option selected>Способ доставки..</option>
                <option>Эконом</option>
                <option>Эконом+</option>
                <option>Стандарт+</option>
                <option>VIP</option>
                <option>Супер быстрый</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="inputPromo">Промокод</label>
            <input type="text" class="form-control" id="inputPromo">
        </div>
    </div>
    <div class="form-group">
        <div class="form-check">
            <label class="form-check-label">
                <input class="form-check-input" type="checkbox" asp-controller="Order" asp-action="Buy"> Запомнить мои данные
            </label>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Отмена</button>
    <button type="submit" class="btn btn-primary">Оформить</button>
</form>