@model MakingOrder



<style>
    table, th, td {
        border: 1px solid black;
    }

    table {
        border-collapse: collapse;
    }
</style>

<p><b>ВАШ ЗАКАЗ:</b></p>
<table>
    <tr>
        <th> Наименование</th>
        <th>Количество</th>
        <th>Стоимость</th>
    </tr>

    @foreach (var cartLine in Model.Cart.CartLines)
    {
        <tr>
            <td>@cartLine.Product.Name</td>
            <td>@cartLine.Amount</td>
            <td>@cartLine.Cost</td>


        </tr>

    }
    <tr>

        <td colspan="2"><b>Сумма заказа:</b></td>
        <td><b>@Model.Cart.CartCost</b></td>
    </tr>
</table>

<form method="post">
    <div>
        <label asp-for="Name"></label><br />
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <label asp-for="Adress"></label><br />
        <input asp-for="Adress" />
        <span asp-validation-for="Adress"></span>
    </div>
    <div>
        <label asp-for="Email"></label><br />
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </div>


    @*<p>Ваше имя:</p>
        <input type="text" name="name" required />
        <p>
            Ваш адрес:
        </p>
        <input type="text" name="adress" required />

        <p>
            Ваша электронная почта:
        </p>
        <input type="email" name="email" required /> <br />*@

    <br />
    <button class="btn btn-dark" type="submit" asp-controller="Order" asp-action="MakeOrder">заказать</button>

</form>

@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}






