<div class="row">
    <div class="col">

        <lable>Name</lable>
        <div>
            <input type="text" />
        </div>

        <lable>Address</lable>
        <div>
            <input type="text" />
        </div>

        <lable>Phone</lable>
        <div>
            <input type="text" />
        </div>
       
        <br />
        <a class="btn btn-outline-success btn-sm" href="/order/buy" role="button">Сomplete</a>

    </div>