@model DeliveryInformationViewModel

<form method="post">
    <div class="row text-center">
        <div class="col text-center">
            <div class="validation" asp-validation-summary="All"></div>
            <h3>Оформление заказа</h3>
            <div>
                <label asp-for="Name">Фамилия Имя</label>
                <input asp-for="Name" />
                <span asp-validation-for="Name" />
            </div><br />
            <div>
                <label asp-for="Adress">Адрес</label>
                <input asp-for="Adress" />
                <span asp-validation-for="Adress" />
            </div><br />
            <div>
                <label asp-for="Phone">Номер телефона</label>
                <input asp-for="Phone" />
                <span asp-validation-for="Phone" />
            </div><br />
            <div>
                <label asp-for="Email">E-mail</label>
                <input type="email" asp-for="Email" />
                <span asp-validation-for="Email" />
            </div><br />
            <button class="btn btn-success btn-sm" type="submit" asp-controller="Order" asp-action="Buy">Завершить оформление</button>
        </div>
    </div>
</form>