@using OnlineShopWebApp.Models

@model Basket

@{
    ViewData["Title"] = "Order";
}

<div class="container">
    <h2>Order</h2>
    <div class="row">
        <div class="col-3">
            <h5>Your order:</h5>
            @foreach (var item in @Model.Items)
            {
                <p>@item.Product.Name (@item.Quantity) - $@item.Cost</p>
            }
            <h6>Total: $@Model.TotalCost</h6>
        </div>
        <form method="post">
            <h5>Input your delivery details:</h5>
            <p>Address:</p>
            <div class="mb-3">
                <input class="form-control form-control-sm" type="number" name="delivery.Address.ZipCode" placeholder="Zip Code" required />
            </div>
            <div class="mb-3">
                <input class="form-control form-control-sm" type="text" name="delivery.Address.Country" placeholder="Country" required />
            </div>
            <div class="mb-3">
                <input class="form-control form-control-sm" type="text" name="delivery.Address.City" placeholder="City" required />
            </div>
            <div class="mb-3">
                <input class="form-control form-control-sm" type="text" name="delivery.Address.Street" placeholder="Street" required />
            </div>
            <div class="mb-3">
                <input class="form-control form-control-sm" type="text" name="delivery.Address.House" placeholder="House" required />
            </div>
            <div class="mb-3">
                <input class="form-control form-control-sm" type="text" name="delivery.Address.Apartment" placeholder="Apartment" required />
            </div>
            <p>Contacts:</p>
            <div class="mb-3">
                <input class="form-control form-control-sm" type="tel" name="Phone" placeholder="Phone" required />
            </div>
            <div class="mb-3">
                <input class="form-control form-control-sm" type="email" name="Email" placeholder="Email" required />
            </div>
            <div class="mb-3">
                <button class="btn btn-dark btn-sm text-nowrap mt-3" type="submit" asp-controller="Order" asp-action="Buy">Buy</button>
            </div>
        </form>
    </div>
    <div class="row">
        <div class="col-12 text-center">
            <a class="btn btn-outline-dark btn-sm text-nowrap" href="/" role="button">Continue shopping</a>
        </div>
    </div>
</div>
