@model Cart_ViewModel
@{
    ViewData["Title"] = "Оформление заказа";
}


<div class="text-center">
    <h1 class="display-5 Title_sile">Оформление заказа</h1>
    <p></p>
</div>


<p>
    @if (Model.UserDeleveryInfo == null)
    {
        <a class="btn btn-outline-danger text-nowrap"
           data-toggle="collapse"
           href="#collapseExample"
           role="button"
           aria-expanded="false"
           aria-controls="collapseExample">
            Заполнить данные о заказчике
        </a>
    }
    else
    {
        <a class="btn btn-outline-danger text-nowrap"
           data-toggle="collapse"
           href="#collapseExample"
           role="button"
           aria-expanded="false"
           aria-controls="collapseExample">
            Проверить данные о заказчике
        </a>
    }

</p>
<form method="post" asp-controller="Order" asp-action="BuyValid">
    <div class="was-validated" asp-validation-summary="All"></div>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            @await Component.InvokeAsync("InfoBuying")
        </div>
    </div>

    <h6>Список приобретаемых товаров:</h6>
    <h6>Пожалуйста, выберите дополнительные опции, если это необходимо</h6>
    @await Html.PartialAsync("FormCheque", Model.CartItems)


    <button type="submit"  class="btn btn-outline-dark text-nowrap col-3 mx-0 my-3" asp-area="" asp-controller="Order" asp-action="BuyValid" role="button">Отправить заявку</button>
</form>