@model OnlineShopWebApp.Models.Buyer;
@{
    ViewData["Title"] = "Оформление заказа";
}


<div class="text-center">
    <h1 class="display-5 Title_sile">Оформление заказа</h1>
    <p></p>
</div>


<p>
    <a class="btn btn-outline-dark text-nowrap" 
       data-toggle="collapse" 
       href="#collapseExample" 
       role="button" 
       aria-expanded="false" 
       aria-controls="collapseExample">
        Заполнить данные о заказчике
    </a>
</p>
<div class="collapse" id="collapseExample">
    <div class="card card-body">
        @await Component.InvokeAsync("InfoBuying")
    </div>
</div>

<h6>Список приобретаемых товаров:</h6>
<h6>Пожалуйста, выберите дополнительные опции, если это необходимо</h6>
<div class="accordion" id="accordionExample">
    @await Component.InvokeAsync("FormCheck", Model.Cart)
</div>

<a class="btn btn-outline-dark text-nowrap col-3 mx-0 my-3" asp-area="" asp-controller="Order" asp-action="Buy" role="button">Отправить заявку</a>

