<div class="row">
    <div class="col">
        <label>Введите ФИО</label>
        <input type="text"/>
        <label>Расчётный адрес</label>
        <input type="text"/>
        <label>Адрес фактического проживания</label>
        <input type="text"/>
        <label>Индекс</label>
        <input type="text"/>
        <label>Номер телефона</label>
        <input type="text"/>

        <a class="btn btn-success" href="/order/buy" role="button">Оформить заказ</a>
    </div>
</div>