@using OnlineShopWebApp.Models

@model Customer

@{
    ViewBag.Title = "Страница оформления заказа";
}
<h2 align="center">Оформление заказа</h2>

<form method="post" asp-action="Add">
    <div class="row">
        <div class="col text-center">
            <div class="validation" asp-validation-summary="All"></div>
            <div>
                <label asp-for="Name">Имя</label>
                <div>
                    <input asp-for="Name" name="name" required minlength="2" maxlength="25" />
                    <span asp-validation-for="Name"></span>
                </div>

            </div>
            <div>
                <label asp-for="LastName">Фамилия</label>
                <div>
                    <input asp-for="LastName" name="lastname" required minlength="2" maxlength="25" />
                    <span asp-validation-for="LastName"></span>
                </div>
            </div>
            <div>
                <label>E-mail</label>
                <div>
                    <input type="email" name="mail" required />
                </div>
            </div>
            <div>
                <label>Телефон</label>
                <div>
                    <input type="tel" pattern="\d{4}-\d{3}-\d{4}" name="phone" required />
                </div>
            </div>
            <div>
                <label>Адрес</label>
                <div>
                    <input type="text" name="adress" required />
                </div>
            </div>
        </div>
    </div>
    <div>
        <input type="submit" class="btn btn-dark" value="Оформить заказ" />
    </div>
</form>
<div>
    @Html.ActionLink("Назад в корзину", "Index", "Cart")
</div>