@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}



    <div class="row">
         @foreach (var product in Model)
    {
        
            <div class="col-3 card shadow">
                <img src="@product.ImgPath" class="card-img-top" width="200" height="200" alt="изображение книги" />
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <h4>@product.Cost руб.</h4>
                    <div class="row">
                        <div class="col">
                            <a href="/cart/index/@product.Id" class="btn btn-dark">Добавить в корзину</a>
                        </div>
                        <div class="col">
                            <a href="/product/index/@product.Id" class="btn btn-dark">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
        
    }
    </div>
   




