@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}



<div class="row">
    <div class="col-3">
        <form method="post" asp-action="Filter">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Фильтр</h5>
                    <h6 class="card-title">Категория:</h6>


                    @foreach (var category in Model.Select(x=>x.CategoryName).Distinct())
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="true" name="CategoryName">
                            <label class="form-check-label">@category</label>
                        </div>
                    }


                    <button type="submit" class="btn btn-dark btn-sm">Применить</button>
                </div>
            </div>
        </form>

    </div>
    <div class="col-9">
        <div class="row">
            @foreach (var product in Model)
            {

                <div class="card mb-3" style="max-width: 740px;">
                    <div class="row g-0">
                        <div class="col-md-4">
                            <img src="@product.ImgPath" class="img-fluid rounded-start" alt="изображение книги">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body">

                                <h5 class="card-title"><a href="/product/index/@product.Id" class="card-link">@product.Name</a></h5>
                                <h6>Жанр:</h6>
                                <p class="card-text">
                                    @product.CategoryName
                                </p>

                            </div>
                        </div>
                        <div class="col-md-2">
                            <p class="card-text">
                                <a href="/favorites/add?productId=@product.Id" class="btn btn-primary btn-sm">в избранное</a>
                                <a href="/cart/add?productId=@product.Id" class="btn btn-dark btn-sm">Добавить в корзину</a>
                            </p>
                        </div>
                    </div>

                </div>

            }
        </div>
    </div>

</div>





