@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}


<div class="row">

    @foreach (var product in Model)
    {
        <div class="col-3 card shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col">@product.Id</div>
                </div>
                <div class="row">
                    <div class="col">@product.Name</div>
                </div>
                <div class="row">
                    <div class="col">@product.Cost</div>
                </div>
            </div>
        </div>
    }


</div>


