@model List<Product>
@{
    ViewData["Title"] = "Каталог готовых проектов на продажу";
}



<div class="text-center">
    <h2 class="display-4 Title_sile">Каталог проектов на продажу</h2>
    
</div>
<div class="row g-10">
    @foreach (var product in Model)
    {
        <div class="col-3 card shadow">
            <h5></h5>
            <img class="card-img-top text-sm-right" src="image/@product.Images[0]">
            <div class="card-body ">
                <a stile="color:black" href="/product/index/@product.Id">
                    <h5>№@product.Name</h5>
                </a>
                <h5>@product.Cost руб</h5>
                <div class="row">
                    <a class="btn btn-outline-dark text-nowrap btn-sm mx-1 my-1" href="#" role="button">В сравнение</a>
                    <p >   </p>
                    <a class="btn btn-outline-dark text-nowrap btn-sm mx-1 my-1"
                       asp-area="" 
                       asp-controller="Cart" 
                       asp-action="AddProductInCart" 
                       asp-route-productId="@product.Id"
                       role="button">
                        В корзину
                    </a>
                </div>

            </div>
        </div>
    }
</div>