@using OnlineShopWebApp.Models
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Home Page";
}


@foreach(Product p in Model)
{
    <p><a href=product/index/@p.Id>@p.Id<br />@p.Name<br />@p.Cost</a></p>
}
