@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}
<script src="https://kit.fontawesome.com/54e7759827.js" crossorigin="anonymous"></script>

<section class="main-content">
    <div class="container">
        <div class="row">
            @foreach (var product in Model)
            {
                <div class="col-lg-4 col-sm-6">
                    <div class="product-card">
                        <div class="product-thumb">
                            <img class="card-img-top" src=@product.ImagesPath alt="Изображение товара" />
                        </div>
                        <div class="product-details">
                            <a style="color:black" href="/product/index/@product.Id"><h4>@product.Name</h4></a>
                            <p>@product.Description</p>
                        </div>
                        <div class="product-bottom-details d-flex justify-content-between">
                            <div class="product-price">
                                <small>₽@product.Price</small>
                            </div>
                            <div class="product-links">
                                <a href="/cart/add?productId=@product.Id"><i class="fas fa-shopping-cart"></i></a>
                                <a href="/favourite/add?productId=@product.Id"><i class="far fa-heart"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            }    
        </div>
    </div>
</section>