@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
        @foreach (var product in Model)
        {
          <div class="col-3 card shadow">

                    <img class="card-img-top" src="https://static4.depositphotos.com/1015530/309/i/600/depositphotos_3098299-stock-photo-single-green-book.jpg" />
                    
                    <div class="card-body">
                        <a style="color:grey" href="product/index/@product.Id">
                            <h5>@product.Name</h5>
                        </a>

                        <h4>@product.Cost</h4>

                        <a class="btn btn-dark" href="#" role="button">Добавить в корзину</a>

                    </div>
           </div>
        }
</div>

