@model List<Product>

@{
    ViewData["Title"] = "Home Page";
}


<div class="row">

    @foreach (var product in Model)
    {
        <div class="col-3 card shadow">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <img src="@product.ImgPath" width="200" height="200" alt = "изображение книги" />
                    </div>
                </div>
                <div class="row">
                    <div class="col">@product.Id</div>
                </div>
                <div class="row">
                    <div class="col">@product.Name</div>
                </div>
                <div class="row">
                    <div class="col">@product.Cost</div>
                </div>
                <div class="row">
                    <div class="col">
                        <a href="#" class="btn btn-dark">Добавить в корзину</a>
                    </div>
                    <div class="col">
                        <a href="/product/index/@product.Id" class="btn btn-dark">Подробнее</a>
                    </div>

                </div>

            </div>
        </div>
    }


</div>


