@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}
<div class="row">

    @foreach (var product in Model)
    {
        <div class="col-4 card-body shadow">
            <img class="card-img-top" src="https://sun9-35.userapi.com/impg/_yyZ1hJ-s82puXLCV5Un9lzOZfK9OQBIVSeg6w/j2bUeZcwdxk.jpg?size=1600x900&quality=96&sign=ec68938f3ef1b00f51d71b167f1b3492&type=album"/>
            <div class="card-body">
                <a style="color:purple" href="/product/index/@product.Id">
                    <h5>@product.Name</h5>
                </a>
                <h5>@product.Cost рублей</h5>
                <a class="btn btn-dark" href="#" role="button">Добавить в корзину</a>
            </div>
        </div>
    }

</div>
