@model List<ProductViewModel>

@inject IStringLocalizer<HomeController> Localizer
@inject IHtmlLocalizer<HomeController> HtmlLocalizer

@{
    ViewData["Title"] = Localizer["page.title"];
}

<div class="container">
    <div class="container align-content-center">
        <div class="row text-center">
            <div class="col-6 mx-auto">
                <p>
                    @HtmlLocalizer["page.description"]
                </p>
                <form method="post">
                    <div class="input-group input-group-sm mt-3 mb-5">
                        <input type="text" class="form-control" name="name" placeholder="@ViewLocalizer["form.search.text"]" aria-label="Seach by name" aria-describedby="button-addon2">
                        <button class="btn btn-sm btn-outline-dark active" type="submit" id="button-addon2" asp-controller="Home" asp-action="Search">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    @await Html.PartialAsync("ProductCard")
</div>