@{
    ViewData["Title"] = "Search result";
}
<div class="container">
    <div class="row">
        <div class="col mb-4">
            <h2>Search result</h2>
        </div>
    </div>
    <div class="row">
        <div class="col text-center">
            <p>Sorry, nothing was found.<br /> Please, go back and try once more.</p>
            <div class="row mt-4 justify-content-center">
                <div class="col-2">
                    <a class="btn btn-outline-dark btn-sm text-nowrap active" href="/" role="button">Go back</a>
                </div>
            </div>
        </div>
    </div>
</div>