@using OnlineShopWebApp.Models
@model IEnumerable<Product>

@{
    ViewData["Title"] = "Search result";
}

<div class="container">
    <div class="row">
        <div class="col mb-3">
            <h2>Search result</h2>
        </div>
    </div>
    <div class="row">
        <div class="col mb-3">
            <p>Hooray! Something was found:</p>           
        </div>
    </div>
    @await Html.PartialAsync("ProductCard")
</div>
</div>

