@model Role
<form method="post">
	<div>
		<h3>Создание новой роли</h3>

		<div class="text-danger font-weight-bold" asp-validation-summary="All"></div>

		<div class="row">
			<div class="col-6">
				<label asp-for="Name"></label><br />
				<input class="form-control" asp-for="Name" />
				<span asp-validation-for="Name" />
			</div>
		</div>
		<button type="submit" class ="btn btn-outline-success" role="button" asp-controller="Admin" asp-action="AddRole">Создать</button>
	</div>
</form>