<div class="col-2 float-left">
    <a href="/admin/orders">Заказы</a>
    <br />
    <a href="/admin/customers">Пользователи</a>
    <br />
    <a href="/admin/roles">Роли</a>
    <br />
    <a href="/admin/products">Услуги</a>
</div>