
<div class="col-3">
    <div class="list-group">
        <a asp-controller="Admin" asp-action="Orders" class="list-group-item list-group-item-action">Orders</a>
        <a asp-controller="Admin" asp-action="Users" class="list-group-item list-group-item-action">Users</a>
        <a asp-controller="Admin" asp-action="Status" class="list-group-item list-group-item-action">Status</a>
        <a asp-controller="Admin" asp-action="Products" class="list-group-item list-group-item-action">Products</a>
    </div>
</div>
           

