@model Product
<form method="post">
    <div class="container align-content-center">
        <div class="row text-center">
            <div class="col-4 mx-auto">
                <h2>Введите данные продукта</h2>

                <div class="mb-3">
                    <input class="form-control" rows="1" name="id" hidden value="@Model.Id">
                </div>
                <div class="mb-3">
                    <input class="form-control" type="text" name="Name" placeholder="Введите новое название продукта" value = "@Model.Name">
                </div>
                <div class="mb-3">
                    <input class="form-control" type="text" name="Cost" placeholder="Введите новую стоимость продукта" value = "@Model.Cost">
                </div>
                <div class="mb-3">
                    <input class="form-control" type="text" name="Description" placeholder="Введите новое описание продукта" value = "@Model.Description">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-outline-dark" asp-controller="Admin" asp-action="EditProduct">Добавить отредактированный продукт</button>
                </div>
            </div>
        </div>
    </div>
</form>
