@model Product

<form method="post">
    <div class="container align-content-center">
        <div class="row text-center">
            <div class="col-4 mx-auto">
                <h2>Введите данные продукта</h2>
                <div class="mb-3">
                    <input class="form-control" type="text" name="name" placeholder="Введите новое название продукта">
                </div>
                <div class="mb-3">
                    <input class="form-control" type="text" name="cost" placeholder="Введите новую стоимость продукта">
                </div>
                <div class="mb-3">
                    <input class="form-control" type="text" name="Description" placeholder="Введите новое описание продукта">
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-outline-dark" asp-controller="product" asp-action="edit?productId=@Model.Id">Добавить отредактированный продукт</button>
                </div>
            </div>
        </div>
    </div>
</form>