@model Product


<form method="post">
    <div class="row">
        @await Html.PartialAsync("AdminPanel")

        <div class="col-9">

            <h3>Edit descrption for Product ID=@Model.Id</h3>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="@Model.Name" name="Name">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="@Model.Cost" name="Cost">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="@Model.Description" name="Description">
            </div>

            @*<div>
                <label class="form-label" for="item">Add product main picture</label>
                <input type="file" class="form-control" id="item" accept=".png" />
            </div>*@

            <br />
            <div>
                <button class="btn btn-outline-success btn-sm" type="submit" asp-controller="Admin" asp-action="UpdateDescription" role="button">Update</button>
                @*<button class="btn btn-outline-success btn-sm" type="submit" asp-controller="Admin" role="button">Update</button>*@

            </div>
        </div>
    </div>
</form>
            
