<div class="row">
    @await Html.PartialAsync("AdminPanel")

    <form method="post">
        <div class="col">

            <div class="form-group">
                <input type="text" class="form-control" placeholder="New name" name="Name">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="New cost" name="Cost">
            </div>

            <div class="form-group">
                <input type="text" class="form-control" placeholder="New description" name="Description">
            </div>

            @*<div>
                    <label class="form-label" for="item">Add product main picture</label>
                    <input type="file" class="form-control" id="item" accept=".png" />
                </div>*@

            <br />
            <div>
                <a class="btn btn-outline-success btn-sm" asp-controller="Admin" asp-action="UpdateDescription" role="button">Update</a>
            </div>
        </div>
    </form>
</div>
