<div class="row">
    <div class="col-3">
        <div class="list-group">
            @*<a href="#" class="list-group-item list-group-item-action active">
            Cras justo odio
        </a>*@
            <a href="#" class="list-group-item list-group-item-action">Orders</a>
            <a href="#" class="list-group-item list-group-item-action">Users</a>
            <a href="#" class="list-group-item list-group-item-action">Status</a>
            <a class="list-group-item list-group-item-action" asp-controller="Product" asp-action="Items">Products</a>

            @*<a href="#" class="list-group-item list-group-item-action disabled" tabindex="-1" aria-disabled="true">Vestibulum at eros</a>*@
        </div>
    </div>
    <div class="col-9">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Summ</th>
                    <th scope="col">Status</th>
                    <th scope="col">User (Login)</th>
                    <th scope="col">Date</th>
                    <th scope="col">Time</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>a</td>
                    <td>b</td>
                    <td>c</td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>a1</td>
                    <td>b2</td>
                    <td>c3</td>
                </tr>
                <tr>
                    <th scope="row">3</th>
                    <td colspan="2">C1</td>
                    <td>C2</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

