@model int
@{
    ViewData["Title"] = "Панель администратора";
}


<div class="row">
    <div class="col-3">
        <div class="list-group">
            <a asp-controller="Admin" asp-action="Index" asp-route-id="0" class="list-group-item list-group-item-action">Заказы</a>
            <a asp-controller="Admin" asp-action="Index" asp-route-id="1" class="list-group-item list-group-item-action">Пользователи</a>
            <a asp-controller="Admin" asp-action="Index" asp-route-id="2" class="list-group-item list-group-item-action">Роли</a>
            <a asp-controller="Admin" asp-action="Index" asp-route-id="3" class="list-group-item list-group-item-action">Продукты</a>
        </div>
    </div>
    <div class="col-9">
        <div class="card">
            <div class="card-body">

               
                @switch (Model)
                {
                    case 0:
                        @await Component.InvokeAsync("Orders");
                        break;
                    case 3:
                        @await Component.InvokeAsync("Products");
                        break;
                    default:
                        @await Component.InvokeAsync("Orders");
                        break;
                }

            </div>
        </div>


    </div>
</div>




