
    <div class="col-4">
        <div class="btn-group-vertical" role="group">
            <a class="btn btn-outline-dark btn-sm" href="#" role="button">Orders</a>
            <a class="btn btn-outline-dark btn-sm" href="#" role="button">Users</a>
            <a class="btn btn-outline-dark btn-sm" href="#" role="button">Status</a>
            <a class="btn btn-outline-dark btn-sm" href="#" role="button">Products</a>
        </div>
    </div>
