<div class="row">
   @await Html.PartialAsync("AdminLeftPanel")
    <div class="col-9">
        <div class="card">
            <div class="card-body">
                <h3>Список товаров</h3>
                <div class="row">
                   
                    </table>
                </div>
            </div>
        </div>


    </div>
</div>







