<div class="row">
    @await Html.PartialAsync("AdminPanel")
    <div class="col-10">
        <h3>Изменения сохранены!</h3>
        <br />
        <a href="/admin/products">Вернуться к списку продуктов</a>
    </div>
</div>