@using OnlineShopWebApp.Models;

@model CartViewModel

<a class="btn btn-dark" asp-area="" asp-controller="Cart" asp-action="Index" role="button">

    @if (@Model?.Amount > 0)
    {
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill border border-dark bg-light text-dark">
            @Model.Amount
        </span>
    }
</a>