<div class="row">
    <div class="col-3">
        <br />
        <div>
            <button class="btn btn-outline-warning btn-sm" type="submit" asp-controller="User" asp-action="NewUser">New here? Create an account</button>
        </div>
    </div>
</div>