@model User

<form method="post">
    <div class="row">
        <div class="col-3">

            <div class="validation" asp-validation-summary="ModelOnly"></div>

            <div class="form-group">
                <label asp-for="FirstName">Firstname</label>
                <input asp-for="FirstName" class="form-control" placeholder="Firstname" />
                <span asp-validation-for="FirstName"></span>
            </div>

            <div class="form-group">
                <label asp-for="SecondName">Secondname</label>
                <input asp-for="SecondName" class="form-control" placeholder="Firstname" />
                <span asp-validation-for="SecondName"></span>
            </div>

            <div class="form-group">
                <label asp-for="Email">E-mail</label>
                <input asp-for="Email" class="form-control" placeholder="name@example.com" />
                <span asp-validation-for="Email"></span>
            </div>

            <div class="form-group">
                <label asp-for="Password">Password</label>
                <input type="password" asp-for="Password" class="form-control" placeholder="Password" />
                <span asp-validation-for="Password"></span>
            </div>

            <div class="form-group">
                <label asp-for="PasswordConfirm">Confirm Password</label>
                <input type="password" asp-for="PasswordConfirm" class="form-control" placeholder="Password" />
                <span asp-validation-for="PasswordConfirm"></span>
            </div>

            <br />
            <div>
                <button class="btn btn-outline-success btn-sm" type="submit" asp-controller="User" asp-action="Register">Register</button>
            </div>
        </div>
    </div>
</form>
