@{
    ViewData["Title"] = "Autorization faled";
}
<div class="container align-content-center">
    <div class="row text-center">
        <div class="col-6 mx-auto">
            <h2>Authorization faled</h2>
            <div class="mt-3">
                Sorry! Wrong Login or Password. <a asp-controller="Users" asp-action="Signin">Try again</a>, please.
            </div>
        </div>
    </div>
</div>