@using OnlineShopWebApp.Areas.Admin.Models

@model RoleViewModel

@{
    ViewData["Title"] = "Add role";
}
<div class="container align-content-center">
    <div class="row">
        <div class="col-2">
            @await Html.PartialAsync("AdminMenuLeft")
        </div>
        <div class="col-5">
            <h2>Add role</h2>
            <form asp-action="Add" asp-controller="Role" asp-area="Admin">
                <div class="validation" asp-validation-summary="All"></div>
                <div class="mb-3">
                    <input class="form-control form-control-sm" asp-for="Name" placeholder="Name" />
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-outline-dark btn-sm active" asp-area="Admin" asp-controller="Role" asp-action="Add">Add</button>
                </div>
            </form>
        </div>
    </div>
</div>