@model RoleViewModel

<form method="post">
    <div class="row">
        @await Html.PartialAsync("AdministrationMenu")
        <div class="col text-center">
            <div class="validation" asp-validation-summary="All"></div>
            <h3>Добавление новой роли</h3>
            <div>
                <label asp-for="Name">Название</label>
                <input asp-for="Name" />
                <span asp-validation-for="Name" />
            </div><br />
            <button class="btn btn-dark" type="submit" asp-area="admin" asp-controller="role" asp-action="add">Сохранить</button>
        </div>
    </div>
</form>

