@using OnlineShopWebApp.Areas.Admin.Models

@model Role

@{
    ViewData["Title"] = "Добавление роли";
}

<div class="card shadow">
    <div class="card-body">
        <form asp-controller="Role" asp-action="AddRole">
            <div class="validation" asp-validation-summary=All></div>
            <div class="row center">
                <div class="col-6">
                    <div class="mb-3">
                        <input type="text" class="form-control" asp-for="Name" placeholder="Наименование" />
                        <span asp-validation-for="Name"></span>
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-dark">Добавить</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>