@using OnlineShopWebApp.Areas.Admin.Models

@model RoleViewModel

@{
    ViewData["Title"] = "Edit role";
}

<div class="container align-content-center">
    <div class="row">
        <div class="col-2">
            @await Html.PartialAsync("AdminMenuLeft")
        </div>
        <div class="col-5">
            <h2>Edit role data</h2>
            <div class="validation" asp-validation-summary="All"></div>
            <form asp-controller="Role" asp-action="Edit" asp-area="Admin">
                <div class="validation" asp-validation-summary="All"></div>
                <div class="mb-3">
                    <label class="form-label text-muted" asp-for="Name">Name</label>
                    <input class="form-control" asp-for="Name" value="@Model.Name">
                    <span asp-validation-for="Name"></span>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-outline-dark btn-sm" asp-area="Admin" asp-controller="Role" asp-action="Edit" asp-route-id="@Model.Id">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>