@using OnlineShopWebApp.Areas.Admin.Models
@model List<Role>

<div class="row">
    @await Html.PartialAsync("AdminLeftPanel")

    <div class="col-9">
        <h3>Список ролей</h3>

        <div class="row">
            <a 
            asp-area="admin" asp-controller="Role" asp-action="addRole">Добавить новую роль</a>
            <div class="col">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Название</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var roles in Model)
                        {
                            <tr>
                                <td>@roles.Name</td>
                                <td><a 
                                    asp-area="Admin" asp-controller="Role" asp-action="removerole" asp-route-roleName="@roles.Name">Удалить</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>