@model NewUserRegistrationForm

<form asp-action="Index" asp-controller="NewUserRegistrationForm" method="post">
	<div>
		<div class="validation" asp-validation-summary="All"></div>
	
		<h3>Регистрация</h3>

		<div>
			<label asp-for="UserName">Имя</label><br />
			<input asp-for="UserName"/>
			<span asp-validation-for="UserName"></span>
		</div>

		<div>
			<label asp-for="Phone">Телефон</label><br />
			<input asp-for="Phone"/>
			<span asp-validation-for="Phone"></span>
		</div>

		<div>
			<label asp-for="Login">Логин</label><br />
			<input type="email" asp-for="Login"/>
			<span asp-validation-for="Login"></span>
		</div>

		<div>
			<label asp-for="Password">Пароль</label><br />
			<input type="password" input asp-for="Password"/>
			<span asp-validation-for="Password"></span>
		</div>

		<div>
			<label asp-for="ConfirmPassword">Подтвердите пароль</label><br />
			<input type ="password" input asp-for="ConfirmPassword"/>
			<span asp-validation-for="ConfirmPassword"></span>
		</div><br />

		<input type="submit" value="Зарегистрироваться" class ="btn btn-outline-success" role="button"></div>
		<div><br>
</div>
</form>
