@model string
@if (User.Identity.IsAuthenticated)
            {
                <div class="dropdown text-end">
                    <a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="@Model" alt="mdo" width="52" height="52" class="rounded-circle">
                    </a>
                    <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" href="#">Мои заказы</a></li>
                        <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Profile">Профиль</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a></li>
                    </ul>
                </div>
            }
            else
            {
                <div class="text-end">
                     <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-outline-light me-2">Войти</a>
                  <a asp-area="" asp-controller="Account" asp-action="Register" class="btn btn-warning">Регистрация</a>          
                </div>
            }