@*@model string
@if (User.Identity.IsAuthenticated)
{
	<div class="dropdown text-end">
		<a href="#" class="d-block link-light text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
			<img src="@Model" alt="mdo" width="52" height="52" class="rounded-circle">
		</a>
		<ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
			<li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="UserOrders">Мои заказы</a></li>
			<li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Profile">Профиль</a></li>
			<li><hr class="dropdown-divider"></li>
			<li><a class="dropdown-item" asp-area="" asp-controller="Account" asp-action="Logout">Выйти</a></li>
		</ul>
	</div>
}
else
{
	<div class="text-end">
		<a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-outline-light me-2">Войти</a>
		<a asp-area="" asp-controller="Account" asp-action="Register" class="btn btn-warning">Регистрация</a>          
	</div>
}*@

@model UserViewModel

<form method="post" enctype="multipart/form-data">
	<div class="row">
		@await Html.PartialAsync("Account")
		<div class="col-5 card shadow text-center">
			<img class="img-fluid" src="@Model.UploadedImage" />
			<div>
				<label asp-for="UploadedImage">Загрузить изображение</label>
				<input type="file" asp-for="UploadedImage" class="form-control" />
				<span asp-validation-for="UploadedImage" />
			</div>
			<button class="btn btn-dark" type="submit" asp-area="" asp-controller="account" asp-action="Edit">Изменить аватар</button>
			<button class="btn btn-dark" type="submit" asp-area="" asp-controller="account" asp-action="deleteimage">Удалить аватар</button>
		</div>
		<div class="col-5 text-center">
			<div>
				<label asp-for="Email">Логин/E-mail:</label>
				<input asp-for="Email" />
				<span asp-validation-for="Email" />
			</div><br />
			<div>
				<label asp-for="FirstName">Имя: </label>
				<input asp-for="FirstName" />
				<span asp-validation-for="FirstName" />
			</div><br />
			
			<button class="btn btn-dark" type="submit" asp-area="" asp-controller="account" asp-action="changeprofile">Сохранить</button>
		</div>             
	</div>
</form>