@{
    ViewData["Title"] = "Log in";
}
<div class="container align-content-center">
    <div class="row text-center">
        <div class="col-4 mx-auto">
            <h2>Authorization</h2>
            <form method="post">
                <div class="mb-3">
                    <input class="form-control" type="text" name="login" placeholder="Login">
                </div>
                <div class="mb-3">
                    <input class="form-control" type="text" name="password" placeholder="Password">
                </div>
                <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="true" name="remember">
                    <label class="form-check-label">
                        Remember me
                    </label>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-outline-dark btn-sm active" asp-controller="Login" asp-action="Login">Log in</button>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-outline-dark btn-sm" asp-controller="Signup" asp-action="Index">Sign up</button>
                </div>
            </form>
        </div>
    </div>
</div>