@model RegistrationData

<form method="post">
    <div class="row text-center">
        <div class="col text-center">
            <div class="validation" asp-validation-summary="All">
                <h3>Регистрация</h3>
                <label></label>
                <div>
                    <label asp-for="Name">Имя</label><br />
                    <input type="text" asp-for="Name" />
                    <span asp-validation-for="Name" />
                </div><br />
                <div>
                    <label asp-for="Age">Возраст</label>
                    <input type="text" asp-for="Age" />
                    <span asp-validation-for="Age" />
                </div><br />
                <div>
                    <label asp-for="Email">E-mail</label>
                    <input type="email" asp-for="Email" />
                    <span asp-validation-for="Email" />
                </div><br />
                <div>
                    <label asp-for="Login">Логин</label>
                    <input type="text" asp-for="Login" />
                    <span asp-validation-for="Login" />
                </div><br />
                <div>
                    <label asp-for="Password1">Пароль</label>
                    <input type="password" asp-for="Password1" />
                    <span asp-validation-for="Password1" />
                </div><br />
                <div>
                    <label asp-for="Password2">Повторите пароль</label>
                    <input type="password" asp-for="Password2" />
                    <span asp-validation-for="Password2" />
                </div><br />
                <button class="btn btn-dark" type="submit" asp-controller="Login" asp-action="Registrate">Зарегистрироваться</button>
            </div>
        </div>
    </div>
</form>