<form method="post">
    <div class="row text-center">
        <div class="col text-center">
            <h3>Регистрация</h3>
            <label>Логин</label>
            <input type="text" name="login" />
            <br />
            <label>Пароль</label>
            <input type="text" name="password1" />
            <br />
            <label>Повторите пароль</label>
            <input type="text" name="password2" />
            <br />
            <button class="btn btn-dark" type="submit" asp-controller="Login" asp-action="Registrate">Зарегистрироваться</button>         
        </div>
    </div>
</form>