@model List<Product>

<div class="row">
    @foreach (var product in Model)
    {
        <div class="col-3 card shadow">
            <img class="card-img-top" src="@product.ImagesPath" alr="Image Picture" />

            <div class="card-body">
                <a style="color:black" href="/product/index/@product.Id">
                    <h5>@product.Name</h5>
                </a>
                <h5>@product.Price РУБ</h5>
                <a class="btn btn-primary btn-sm text-nowrap" href="/cart/add?productId=@product.Id"><h5>Добавить в корзину</h5></a>
            </div>
        </div>
    }

</div>

<div class="text-left">
    <a class="btn btn-danger text-left" href="/favourite/clear"><h5>Очистить все</h5></a>
</div>