<div class="col-3 card-body shadow">
    <div class="row">
        <a style="color:black" asp-area="admin" asp-controller="order" asp-action="orders">Заказы</a>
        @*<a href="/admin/orders">Заказы</a>*@
    </div>
    <div class="row">
        <a style="color:black" asp-area="admin" asp-controller="user" asp-action="users">Пользователи</a>
        @*<a href="/admin/users">Пользователи</a>*@
    </div>
    <div class="row">
        <a style="color:black" asp-area="admin" asp-controller="role" asp-action="roles">Роли</a>
        @*<a href="/admin/roles">Роли</a>*@
    </div>
    <div class="row">
        <a style="color:black" asp-area="admin" asp-controller="product" asp-action="products">Продукты</a>
        @*<a href="/admin/products">Продукты</a>*@
    </div>
</div>