<nav class="nav flex-column">
    <a class="nav-link" asp-area="Admin" asp-controller="Order" asp-action="Index">Orders</a>
    <a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="Index">Users</a>
    <a class="nav-link" asp-area="Admin" asp-controller="Role" asp-action="Index">Roles</a>
    <a class="nav-link" asp-area="Admin" asp-controller="Product" asp-action="Index">Products</a>
</nav>
