<div class="col-2 float-left">
    <a asp-area="admin" asp-controller="order" asp-action="orders">Заказы</a>
    <br />
    <a asp-area="admin" asp-controller="user" asp-action="users">Пользователи</a>
    <br />
    <a asp-area="admin" asp-controller="role" asp-action="roles">Роли</a>
    <br />
    <a asp-area="admin" asp-controller="product" asp-action="products">Продукты</a>
</div>