@using OnlineShopWebApp.Areas.Admin.Models;
@using OnlineShopWebApp.Models;

<div class="col-2 float-left">
    <a class="list-group-item list-group-item-action" role="button" asp-controller="Order" asp-action="Index" asp-area="Admin" >Заказы</a>
    <a class="list-group-item list-group-item-action" role="button" asp-controller="User" asp-action="Index" asp-area="Admin">Пользователи</a>
    <a class="list-group-item list-group-item-action" role="button" asp-controller="Role" asp-action="Index" asp-area="Admin">Роли</a>
    <a class="list-group-item list-group-item-action" role="button" asp-controller="Product" asp-action="Index" asp-area="Admin">Услуги</a>
</div>