<div class="col-3 card-body shadow">
    <div class="row">
        <a style="color:black" asp-area="admin" asp-controller="order" asp-action="orders">Заказы</a>
    </div>
    <div class="row">
        <a style="color:black" asp-area="admin" asp-controller="user" asp-action="users">Пользователи</a>
    </div>
    <div class="row">
        <a style="color:black" asp-area="admin" asp-controller="role" asp-action="index">Роли</a>
    </div>
    <div class="row">
        <a style="color:black" asp-area="admin" asp-controller="product" asp-action="products">Продукты</a>
    </div>
</div>