<nav class="nav flex-column">
    <a class="nav-link" asp-area="admin" asp-controller="admin" asp-action="orders">Orders</a>
    <a class="nav-link" asp-area="admin" asp-controller="admin" asp-action="users">Users</a>
    <a class="nav-link" asp-area="admin" asp-controller="admin" asp-action="roles">Roles</a>
    <a class="nav-link" asp-area="admin" asp-controller="admin" asp-action="products">Products</a>
</nav>
