<div class="col-3">
    <div class="row">
        <a href="/admin/order/orders">Заказы</a>
    </div>
    <div class="row">
        <a href="/admin/User/users">Пользователи</a>
    </div>
    <div class="row">
        <a href="/admin/role/roles">Роли</a>
    </div>
    <div class="row">
        <a href="/admin/Product/products">Продукты</a>
    </div>
</div>