<div class="col-2 float-left">
    <a asp-area="admin" asp-controller="administration" asp-action="orders">Заказы</a>
    <br />
    <a asp-area="admin" asp-controller="administration" asp-action="users">Пользователи</a>
    <br />
    <a asp-area="admin" asp-controller="administration" asp-action="roles">Роли</a>
    <br />
    <a asp-area="admin" asp-controller="administration" asp-action="products">Продукты</a>
</div>