<div class="col-1">
        <table>
            <tr>
                <td>
                    <a asp-area="admin" asp-controller="administration" asp-action="orders" role="button">Заказы</a>
                </td>

            </tr>
            <tr>
                <td><a asp-area="admin" asp-controller="administration" asp-action="users" role="button">Пользователи</a></td>

            </tr>
            <tr>
                <td> <a asp-area="admin" asp-controller="administration" asp-action="roles" role="button">Роли</a></td>

            </tr>
            <tr>
                <td><a asp-area="admin" asp-controller="administration" asp-action="products" role="button">Продукты</a></td>
            </tr>
        </table>
    </div>
    <div class=col-2>

    </div>