
<div class="col-1">
    <a class="row small" asr-area="Admin" asp-controller="Orders" asp-action="Index">Заказы</a>
    <a class="row small" asr-area="Admin"  asp-controller="Users" asp-action="Index">Пользователи</a>
    <a class="row small" asr-area="Admin"  asp-controller="Roles" asp-action="Index">Роли</a>
    <a class="row small" asr-area="Admin"  asp-controller="Products" asp-action="Index">Продукты</a>
</div>
<div class="border"></div>