@model int

<a type="button" class="nav-link" asp-area="" asp-controller="Favorites" asp-action="Index">
    Избранное
    @if (Model > 0)
    {
        <span class="badge bg-secondary">@Model</span>
    }
</a>