@model UserViewModel

<h3>Введите необходимую информацию, для успешной доставки</h3>

<form asp-action="Create" asp-controller="CustomerProfile">
	<div>

	<div class="validation" asp-validation-summary="All" ></div>
	<div>
		<label asp-for="FirstName">Имя</label><br />
		<input asp-for="FirstName" />
		<span asp-validation-for="FirstName"></span>
	</div>

		<div>
		<label asp-for="LastName">Фамилия</label><br />
		<input asp-for="LastName" />
		<span asp-validation-for="LastName"></span>
	</div>

	<div>
		<label asp-for="Phone">Телефон</label><br />
		<input asp-for="Phone" />
		<span asp-validation-for="Phone"></span>
	</div>

		<div>
		<label asp-for="Address">Адрес</label><br />
		<input asp-for="Address" />
		<span asp-validation-for="Address"></span>
	</div>

	<input type="submit" value="Отправить" a class ="btn btn-outline-success" role="button">
</div>
</form>			
				