@model CustomerViewModel

<form asp-action="Create" asp-controller="CustomerProfile">
	<div>

	<div class="validation" asp-validation-summary="All" ></div>
	<div>
		<label asp-for="Name">Имя</label><br />
		<input asp-for="Name" />
		<span asp-validation-for="Name"></span>
	</div>

		<div>
		<label asp-for="Surname">Фамилия</label><br />
		<input asp-for="Surname" />
		<span asp-validation-for="Surname"></span>
	</div>

	<div>
		<label asp-for="Phone">Телефон</label><br />
		<input asp-for="Phone" />
		<span asp-validation-for="Phone"></span>
	</div>

		<div>
		<label asp-for="Email">Email</label><br />
		<input asp-for="Email" />
		<span asp-validation-for="Email"></span>
	</div>

		<div>
		<label asp-for="Adress">Адрес</label><br />
		<input asp-for="Adress" />
		<span asp-validation-for="Adress"></span>
	</div>

	<input type="submit" value="Отправить" a class ="btn btn-outline-success" role="button">
</div>
</form>			
				