/* Карточка */

.card {
    width: 280px;
    height: 300px;
    background-color: #122936;
    color: #fff;
    border-radius: 20px;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
    position: relative;
    overflow: hidden;
}

/* Фон */

.card::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: #2196f3;
    transform: skewY(345deg);

    position: absolute;
    top: -50%;

    transition: 0.5s;
}

.card:hover::before {
    transform: skewY(390deg);
    top: -70%;
}

/* Фото */

.card__img {
    margin-top: 30px;
    width: 100%;
    position: relative;
    transition: 0.5s;
}

.card:hover .card__img {
    width: 70%;
}

/* Название */

.card__name {
    font-size: 18px;
    margin: 0 0 10px;
    position: relative;
}

/* Стоимость */

.card__price {
    font-size: 24px;
    margin: 0 0 30px;
    position: relative;
}

.card__currency {
    font-size: 18px;
}

/* Кнопка */

.card__btn {
    border: none;
    cursor: pointer;
    background-color: #02a717;
    padding: 15px 30px;
    border-radius: 30px;
    color: inherit;
    text-transform: inherit;
    font-weight: inherit;
    position: relative;
    transition: 0.5s;

    top: 100px;
}

.card__btn:hover {
    background-color: #038616;
}

.card:hover .card__btn {
    top: 0;
}