/* Карточка продукта */

.product-card {
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.006);
    transition: all .3s;
}

.product-card:hover {
    box-shadow: 0 14px 30px -15px rgba(0, 0, 0, 0.75);
}

.product-thumb a {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px;
    padding: 20px;
}

/*.product-thumb img {
    max-width: 100%;
    max-height: 100%;
}

.product-details {
    padding: 20%;
}

.product-details h4 a {
    font-weight: 500;
    display: block;
    height: 60px;
    overflow: hidden;
    text-decoration: none;
}

.product-details p {
    font-size: 15px;
    margin-bottom: 20px;
}*/