@model Cart

    <div class="row text-center">
        <div class="col">
            <label for="Name">Фамилия Имя</label>
            <input type="text" class="form-control" id="Name" aria-describedby="Name" placeholder="Фамилия Имя">
            <label for="Adress">Адрес</label>
            <input type="text" class="form-control" id="Adress" aria-describedby="Adress" placeholder="Город, улица, дом">
            <label for="Phone">Номер телефона</label>
            <input type="text" class="form-control" id="Phone" aria-describedby="Phone" placeholder="+7(000)000-00-00">
            <br/>
            <a class="btn btn-success" href="/oder/success?cartId=@Model.Id" role="button">Оформить заказ</a>
        </div>
    </div>