<div class="row text-center">
	<div class="col">
		<label>Регистрация</label>
		<div><br>
			<label>	<input type="text" name="userName" placeholder="Логин"/></label></div>
	<div><br>
		<label><input type="text" name="password" placeholder="Пароль"/></label></div>
	<div><br> 
		<label><input type="text" name="confirmPassword" placeholder="Подтвердите пароль"/></label></div>
		<input type="submit" value="Зарегистрироваться" class ="btn btn-outline-success" role="button" href="/newuserregistrationform/registration" asp-controller="newUserRegistrationForm" asp-action="Registration"></div>
	<div><br>
		</div>
		</div>