@model AddProductViewModel

<form method="post" enctype="multipart/form-data">
    <div class="row">
        @await Html.PartialAsync("AdministrationMenu")
        <div class="col text-center">
            <div class="validation" asp-validation-summary="All"></div>
            <h3>Добавление нового продукта</h3>
            <div>
                <label asp-for="Name">Название</label>
                <input asp-for="Name" />
                <span asp-validation-for="Name" />
            </div><br />
            <div>
                <label asp-for="Cost">Цена</label>
                <input asp-for="Cost" />
                <span asp-validation-for="Cost" />
            </div>
            <br />
            <div>
                <label asp-for="Description">Описание</label>
                <input asp-for="Description" />
                <span asp-validation-for="Description" />
            </div>
            <br />
            <div>
                <label asp-for="Pages">Количество страниц</label>
                <input asp-for="Pages" />
                <span asp-validation-for="Pages" />
            </div>
            <br />
            <div>
                <label asp-for="UploadedFiles">Загрузить изображения</label>
                <input type="file" asp-for="UploadedFiles" multiple class="form-control"/>
                <span asp-validation-for="UploadedFiles" />
            </div>
            <br />
            <button class="btn btn-dark" type="submit" asp-area="admin" asp-controller="product" asp-action="add">Добавить</button>
        </div>
    </div>
</form>
