@model Product
<div class="row">
	@await Html.PartialAsync("AdminMenu")

	<div class="col-9">
		<h3>Добавить продукт</h3>
	</div>
</div>
<form method="post" action="/admin/AddProduct">
	<div class="validation" asp-validation-summary="All"></div>

	<div class="row text-center">
	<div class="col-3">
		<div><br>
			<label asp-for="Name">Продукт</label><br />
			<input class="form-control" asp-for="Name" />
			<span asp-validation-for="Name" />
		</div>

		<div><br>
			<label asp-for="Cost">Цена</label><br />
			<input class="form-control" asp-for="Cost" />
			<span asp-validation-for="Cost" />
		</div>

		<div><br>
			<label asp-for="Description">Описание</label><br />
			<input class="form-control" asp-for="Description" />
			<span asp-validation-for="Description" />
		</div>
	
		<div>
			<label>Добавить изображение</label><br />
			<label><input type="file" name="file"></label></div>
		<div><br>
		
		<input type="submit"
		asp-area="Admin"
		asp-controller="Product"
		asp-action="Add"
		value="Добавить" class ="btn btn-outline-success" role="button"/></div>
	<div><br>
	</div>
	</div>
	</div>
	
</form>