@model ProductViewModel
<div class="card shadow">
    <div class="card-body">
        <form asp-controller="Product" asp-action="AddProduct" enctype="multipart/form-data">
            <div class="row justify-content-center">
                <div class="col-6">
                    <div class="mb-3">
                        <input type="text" class="form-control" asp-for="Name" placeholder="Имя"/>
                        <span asp-validation-for="Name"></span>
                    </div>
                    <div class="mb-3">  
                        <input type="number" class="form-control" asp-for="Cost" placeholder="Цена"/>
                        <span asp-validation-for="Cost"></span>
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" asp-for="Description" placeholder="Описание"/>
                        <span asp-validation-for="Description"></span>
                    </div>
                      <div class="mb-3">
                          <label>Изображение:</label>
                        <input type="file" class="form-control" asp-for="UploadedImg" multiple/>  
                    </div>
                    <div class="mb-3 text-center">
                        <button type="submit" class="btn btn-dark">Добавить</button>
                    </div>
                    <div class="mb-3 text-center">
                        <a class="btn btn-dark" asp-controller="Product" asp-action="Index">Отмена</a>
                    </div>
                </div>

            </div>

        </form>
    </div>
</div>