@using OnlineShopWebApp.Models
@model CartStorage

@{
    ViewData["Title"] = "Cart";
}

<div class="container">
    <h2>Basket</h2>
    <div class="row">
        <div class="col">
            <div class="col-6 card-body shadow">
                <caption>Список</caption>
                <thead class="table-light" align="center">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Count</th>
                        <th scope="col">Cost</th>
                    </tr>
                </thead>
                @foreach (var product in Model.Products)
                {
                            <td><a href="/product/index/@product.Product.Id">@product.Product.Name</a></td>
                            <td>@product.Product.Cost</td>
                }
                    <tr>
                        <td></td>
                        <td></td>
                        <td colspan="3" class="align-content-end"><b>Итого: $@Model.TryGetTotalSum()</b></td>
                    </tr>
                <div class="row">
                    <div class="col-6 card-body shadow">
                        <img class="card-img-top" src="/images/justice-2060093.jpg" />
                        <div class="card-body">
                            <a class="btn btn-dark" href="/home/index" role="button">Продолжить покупки</a>
                            <a class="btn btn-dark" href="" role="button">Добавить в корзину</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
