@model List<CartItem>

@{
    ViewData["Title"] = "Корзина";
}



<h2>Корзина</h2>

@if (Model.Count != 0)
{

    <table class="table">

        <tr>
            <th>Название</th>
            <th>Цена</th>
            <th>Количество</th>
        </tr>

        @foreach (var cartItem in Model)
        {
            <tr>
                <td>@cartItem.Product.Name</td>
                <td>@cartItem.Product.Cost</td>
                <td>@cartItem.Quantinity</td>

            </tr>
        }

    </table>

    <div class="col">
        <a href="#" class="btn btn-dark">Оформить заказ</a>
    </div>

}

else
{
    <figure class="text-center">
        <h3>В корзине нет товоров</h3>
    </figure>

}
