<div class="col-2 float-left">
    <a href="/administration/orders">Заказы</a>
    <br />
    <a href="/administration/users">Пользователи</a>
    <br />
    <a href="/administration/roles">Роли</a>
    <br />
    <a href="/administration/products">Продукты</a>
</div>