<nav class="nav flex-column">
    <a class="nav-link" asp-controller="Admin" asp-action="Orders">Orders</a>
    <a class="nav-link" asp-controller="Admin" asp-action="Users">Users</a>
    <a class="nav-link" asp-controller="Admin" asp-action="Roles">Roles</a>
    <a class="nav-link" asp-controller="Admin" asp-action="Products">Products</a>
</nav>
