 <div class="col-3">
        <div class="list-group">
            <a asp-controller="Admin" asp-action="Orders" class="list-group-item list-group-item-action">Заказы</a>
            <a asp-controller="Admin" asp-action="Users" class="list-group-item list-group-item-action">Пользователи</a>
            <a asp-controller="Admin" asp-action="Roles" class="list-group-item list-group-item-action">Роли</a>
            <a asp-controller="Admin" asp-action="Products" class="list-group-item list-group-item-action">Продукты</a>
        </div>
    </div> 