<div class="col-3">
    <div class="row">
        <a href="/admin/orders">Заказы</a>
    </div>
    <div class="row">
        <a href="/admin/users">Пользователи</a>
    </div>
    <div class="row">
        <a href="/admin/roles">Роли</a>
    </div>
    <div class="row">
        <a href="/admin/products">Продукты</a>
    </div>
</div>