@using OnlineShopWebApp.Models
@using Microsoft.AspNetCore.Mvc.TagHelpers
<footer class="border-top footer text-muted">
    <div class="container" style="color: #282832">
        @MyConstant.NameOrganization - <a asp-area="" asp-controller="Home" asp-action="Index">Каталог проектов</a>
    </div>
</footer>