<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand"
               asp-area="" asp-controller="Home" asp-action="Index">OnlineShopWebApp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark"
                           asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark"
                           asp-area="Admin" asp-controller="Order" asp-action="Index">Admin</a>
                    </li>
                </ul>
                <div class="col-auto">
                    @await Component.InvokeAsync("Basket")
                    <a class="btn btn-outline-dark btn-sm text-nowrap mr-2" role="button"
                       asp-area="" asp-controller="Compare" asp-action="Index"> Compare list</a>
                    <a class="btn btn-outline-dark btn-sm text-nowrap mr-5" role="button"
                       asp-area="" asp-controller="Favorites" asp-action="Index">Favorites</a>
                    <a class="btn btn-outline-primary btn-sm text-nowrap mr-2" role="button"
                       asp-area="" asp-controller="User" asp-action="Signin">Sign in</a>
                    <a class="btn btn-outline-success btn-sm text-nowrap" role="button"
                       asp-area="" asp-controller="User" asp-action="Signup">Sign up</a>
                </div>
            </div>
        </div>
    </nav>
</header>