<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Юридические услуги</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" role="button" asp-area="" asp-controller="Home" asp-action="Index">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" role="button" asp-area="" asp-controller="Cart" asp-action="Index">Корзина @await Component?.InvokeAsync("Cart")</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" role="button" asp-area="" asp-controller="Order" asp-action="Index">Заказы</a>
                    </li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-link text-dark">@User.Identity.Name</li>
                        <li class="nav-link text-dark"><a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Signout">Выйти</a></li>
                    }
                    else
                    {
                        <a class="btn btn-outline-primary btn-sm text-nowrap mr-2" role="button" asp-area="" asp-controller="Account" asp-action="Signin">Войти</a>
                        <a class="btn btn-outline-success btn-sm text-nowrap" role="button" asp-area="" asp-controller="Account" asp-action="Signup">Регистрация</a>
                    }
                    @if (User.IsInRole(Constants.AdminRoleName))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" role="button" asp-area="Admin" asp-controller="Order" asp-action="Index">Администратор</a>
                        </li>
                    }
                    <li class="nav-item"><a class="nav-link text-dark" role="button" asp-area="" asp-controller="Favorite" asp-action="Index">Избранное</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
