<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand"
               asp-area="" asp-controller="Home" asp-action="Index">OnlineShopWebApp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark"
                           asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>

                    @if (User.IsInRole(Constants.AdminRoleName))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark"
                           asp-area="Admin" asp-controller="Order" asp-action="Index">Admin panel</a>
                        </li>
                    }
                </ul>
                <div class="col-auto">
                    @await Component.InvokeAsync("Basket")
                    <a class="btn btn-outline-dark btn-sm text-nowrap mr-2" role="button"
                       asp-area="" asp-controller="Compare" asp-action="Index"> Compare list</a>
                    <a class="btn btn-outline-dark btn-sm text-nowrap mr-5" role="button"
                       asp-area="" asp-controller="Favorites" asp-action="Index">Favorites</a>
                </div>
                <div class="col-auto">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @User.Identity.Name
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" asp-route-area="" asp-controller="Account" asp-action="Index">My profile</a>
                                    <a class="dropdown-item" asp-route-area="" asp-controller="Account" asp-action="Signout">Sign out</a>
                                </div>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <a class="btn btn-outline-primary btn-sm text-nowrap mr-2" role="button"
                       asp-area="" asp-controller="Account" asp-action="Signin">Sign in</a>
                        <a class="btn btn-outline-success btn-sm text-nowrap" role="button"
                       asp-area="" asp-controller="Account" asp-action="Signup">Sign up</a>
                    }
                </div>
            </div>
        </div>
    </nav>
</header>