<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OnlineShopWebApp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>

                    <li>
                        <a class="nav-link text-dark" href="/cart/index/" role="button">Корзина @await Component.InvokeAsync("Cart")</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" href="/favorites/index/" role="button">Избранное</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" href="/authorization/index/" role="button">Войти</a>
                    </li>
                    <li>
                        <a class="nav-link text-dark" href="/admin/administration/index/" role="button">Панель администратора</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>