<header>
    <nav class="navbar navbar-light navbar-expand-md bg-faded justify-content-center">
        <div class="container">
            <a href="/home/products" class="navbar-brand d-flex w-50 me-auto">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsingNavbar3">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse w-100" id="collapsingNavbar3">
                <ul class="nav navbar-nav ms-auto w-100 justify-content-end">

                    <li class="nav-item">
                        <a class="navbar-brand" asp-area="" asp-controller="Product" asp-action="Items">Index</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" asp-area="" asp-controller="Cart" asp-action="Index">Cart @await Component.InvokeAsync("Cart")</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" asp-area="" asp-controller="Admin" asp-action="AdminPanel">Administrator</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" asp-area="" asp-controller="User" asp-action="Index">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="navbar-brand" asp-area="" asp-controller="User" asp-action="NewUser">Register</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
