<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">OnlineShopWebApp</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                </ul>
                <div class="col-auto">
                    <a class="btn btn-outline-dark btn-sm text-nowrap mr-2" asp-area="" asp-controller="Basket" asp-action="Index" role="button">Basket @await Component.InvokeAsync("Basket")</a>
                    <a class="btn btn-outline-dark btn-sm text-nowrap mr-2" asp-area="" asp-controller="Compare" asp-action="Index" role="button">Compare list</a>
                    <a class="btn btn-outline-dark btn-sm text-nowrap mr-2" asp-area="" asp-controller="Favorites" asp-action="Index" role="button">Favorites</a>
                </div>
            </div>
        </div>
    </nav>
</header>