
<div class="col-1">
    <a class="row small" asp-controller="AdminPanel" asp-action="Orders">Заказы</a>
    <a class="row small" asp-controller="AdminPanel" asp-action="Users">Пользователи</a>
    <a class="row small" asp-controller="AdminPanel" asp-action="Roles">Роли</a>
    <a class="row small" asp-controller="AdminPanel" asp-action="Products">Продукты</a>
</div>
<div class="border"></div>