
<a class="row" asp-controller="AdminPanel" asp-action="Orders">Заказы</a>
<a class="row" asp-controller="AdminPanel" asp-action="Users">Пользователи</a>
<a class="row" asp-controller="AdminPanel" asp-action="Roles">Роли</a>
<a class="row" asp-controller="AdminPanel" asp-action="Products">Продукты</a>
