

<div class="col-3 card shadow">
	<img src="~/img/sea.jpg" alt="" class="card-img-top">
	<div class="card-body">
		<a style="color:black" href="/product/index/@Model.Id">
			<h5>@Model.Name</h5>
		</a>
		<h5>@Model.Cost руб </h5>
		<a class="btn btn-dark" href="@Url.Action("AddToCart", "Cart", new { @Model.Id } )" role="button">Добавить в корзину</a>
	</div>
</div>

