<nav class="nav flex-column">
    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Profile">Profile</a>
    <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Index">My orders</a>
</nav>
