<div class="col-2 float-left">
    <a asp-area="" asp-controller="account" asp-action="orders" asp-route-userName="@User.Identity.Name">Заказы</a>
    <br />
    <a asp-area="" asp-controller="account" asp-action="index" asp-route-userName="@User.Identity.Name">Личные данные</a>
    <br /> 
    <a asp-area="" asp-controller="Account" asp-action="Logout">Выход</a>
</div>