@model Role
@{
    ViewData["Title"] = "Создание новой роли";
}


<form method="post"  asp-area="Admin" asp-controller="Roles"  asp-action="Add">
    <div class="was-validated" asp-validation-summary="All"></div>
        <div class="container">
            <div class="row">
                @await Html.PartialAsync("MenuAdminPanel")
                <div class="col-10 container">
                    <div class="container">
                        <h3 class="display-5 Title_sile text-center">Создание новой роли</h3>

                        <div class="card">
                            <div class="form-group p-3">
                                <label class="text-center">Название:</label>
                                <input type="text" class="form-control" id="Input1" required="" name="Name" asp-for="Name"/>
                                <span asp-validation-for="Name"></span>
                            </div>
                        </div>
                        <div>Присвоить права:</div>
                        <div class="row mx-auto">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="defaultCheck1" name="Rights.BeAdmin" asp-for="Rights.BeAdmin">
                                Права администратора
                            </div>
                        </div>
                        <div class="row mx-auto">
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="defaultCheck2"  name="Rights.BeBuyer" asp-for="Rights.BeBuyer">
                                Права покупателя
                            </div>
                            
                        </div>

                        <div class="col-3 p-3">
                            <button class="btn btn-light text-center" type="submit"  asp-area="Admin" asp-controller="Roles" asp-action="Add">Создать</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    
</form>






