@model List<Role>

@{
    ViewData["Title"] = "Панель администратора";
}

<div class="container">
    <div class="row">
        @await Html.PartialAsync("MenuAdminPanel")
        <div class="col">
            <div class="container">
                <h3 class="display-5 text-center">Управление ролями пользователей</h3>
                <a class="text-nowrap mx-1 my-1"
                   asp-area="Admin" asp-controller="Roles"  
                   asp-action="Add"
                   role="button">
                    Создать новую роль
                </a>
                            <div class="table-responsive">
                                <table class="table table-bordered caption-top">
                                    <thead>
                                    <tr>
                                        <th scope="col-1" class="align-top small">№</th>
                                        <th scope="col" class="align-top small">Название</th>
                                        <th scope="col" class="align-top small">Права</th>
                                        <th> </th>
                                    </tr>
                                    </thead>
                                    @if (Model.Count != 0)
                                    {
                                        <tbody>
                                        @for (int i = 0; i < Model.Count; i++)
                                        {
                                            <tr>
                                                <th class="small" scope="row">@(i + 1)</th>
                                                <td class="small">@Model[i].Name</td>
                                                <td class="small">
                                                    Права администратора: @if (Model[i].Rights.BeAdmin)
                                                                          {
                                                                              <nobr>да</nobr>
                                                                          }
                                                                          else
                                                                          {
                                                                              <nobr>нет</nobr>
                                                                          }<br/>
                                                    Права покупателя: @if (Model[i].Rights.BeBuyer)
                                                               {
                                                                   <nobr>да</nobr>
                                                               }
                                                               else
                                                               {
                                                                    <nobr>нет</nobr>

                                                               }<br/>
                                                </td>

                                                <td class="small">
                                                    <a class="text-nowrap mx-1 my-1"
                                                       asp-area="Admin" asp-controller="Roles"  
                                                       asp-action="Remove"
                                                       asp-route-roleId="@Model[i].Id"
                                                    >Удалить</a>
                                                </td>
                                            </tr>
                                        }
                                        </tbody>
                                    }
                                    else
                                    {
                                        <td colspan="9">Нет созданных ролей</td>
                                    }

                                </table>
                            </div>
            </div>
        </div>
    </div>

</div>






