@model List<Card> 

@{
    ViewData["Title"] = "basket";
}


<h1>Your order: </h1>
<p>
    @Model[0].Name <br>
    @Model[0].Cost

    @Model[1].Name <br>
    @Model[2].Cost
</p>

<p>
    Here will be a proper <br>
    item description.
</p>

