@using OnlineShopWebApp.Models

@{
    ViewData["Title"] = "Basket Page";  
}

<div class="container">
    <div class="row">
        <div class="col justify-content-center">
            <table class="table border-left border-right border-top border-bottom">
                <caption>Список покупок</caption>
                <thead align="center">
                    <tr>
                        <th scope="col">Название</th>
                        <th scope="col">Количество</th>
                        <th scope="col">Стоимость</th>
                    </tr>
                </thead>                            
                        <tbody align="center">
                            <tr >
                                <td colspan="3">Пока в корзине нет ни одного товара.</td>   
                            </tr>
                        </tbody>
            </table>
            <div class="row justify-content-end">
                <div class="col-2">
                    <a class="btn btn-outline-dark btn-sm text-nowrap" href="/" role="button">Продолжить покупки</a>
                </div>
            </div>
        </div>
    </div>
</div>