@using OnlineShopWebApp
@using OnlineShopWebApp.Models
@model Basket

@{
    ViewData["Title"] = "Basket";
}

<div class="container">
    <h2>Basket</h2>
    <div class="row">
        <div class="col">
            <table class="table border-left border-right border-top border-bottom mt-2">
                <caption>Shopping list</caption>
                <thead class="table-light" align="center">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Cost</th>
                    </tr>
                </thead>
                @foreach (var item in Model.Items)
                {
                    <tbody class="border-top-0" align="center">
                        <tr>
                            <td><a href="/product/index?id=@item.Product.Id">@item.Product.Name</a></td>
                            <td>
                                @item.Quantity
                                <div class="btn-group ml-2" role="group" aria-label="Add/Remove buttons">
                                    <a class="btn btn-outline-dark btn-sm" role="button" href="/basket/remove?id=@item.Product.Id">&ndash;</a> 
                                    <a class="btn btn-outline-dark btn-sm" role="button" href="/basket/add?id=@item.Product.Id">+</a>          
                                </div>
                            </td>
                            <td>$@item.Cost</td>
                        </tr>
                    </tbody>
                }
                <tfoot align="center">
                    <tr>
                        <td></td>
                        <td><a class="btn btn-outline-dark btn-sm text-nowrap" href="/basket/clear" role="button">Clear basket</a></td>
                        <td colspan="3" class="align-content-end"><b>Total: $@Model.TotalCost</b></td>
                    </tr>
                </tfoot>
            </table>
            <div class="row justify-content-end">
                <div class="col-2">
                    <a class="btn btn-outline-dark btn-sm text-nowrap" href="/" role="button">Continue shopping</a>
                </div>
                <div class="col-2">
                    <a class="btn btn-outline-dark btn-sm text-nowrap" href="/order/index" role="button">Place your order</a>
                </div>
            </div>
        </div>
    </div>
</div>


