
<form method="post">
<h2>Добавление нового продукта:</h2>

<p>Введите наименование продукта:</p>
<input type="text" name ="Name" />

<p>Введите Id продукта:</p>
<input type="text" name ="Id" />

<p>Введите цену товара:</p>
<input type="text" name ="Cost" />

<p>Введите описание товара:</p>
<input type="text" name = "Description" /> <br />
<p></p>

<button class="btn btn-dark" type="submit" asp-controller="Administration" asp-action="SaveAddedProduct">Добавить продукт</button>


</form>