<form method="post">
    <h2>Добавление роли</h2>
    <p> Введите название роли: </p><br />
    <input type="text" name="Name" required />
    <br />
    <button class="btn btn-dark" type="submit" asp-controller="Administration" asp-action="SaveAddedRole">Добавить роль</button>

</form>