@model Role
<form method="post">
    <h2>Добавление роли</h2>
    <p> Введите название роли: </p><br />

    <div class="text-danger font-weight-bold" asp-validation-summary="All"></div>


    <input class="form-control"name="Name" required />



    <br />
    <button class="btn btn-dark" type="submit" asp-controller="Administration" asp-action="AddRole">Добавить роль</button>

</form>
