@*<style>
    table, td, caption, tr {
    border: 1px solid black;
    }

    table {
    border-collapse: collapse;
    }
    </style>*@
@model List<Product>

<div class="row">
    @await Html.PartialAsync("Menu")

    <div class="column">
        <table>
            <tr>
                <th><h2>Список продуктов</h2></th>
            </tr>
            <tr>
                <td><a class="text" href="#" role="button">Добавить новый продукт </a></td>
            </tr>
            <tr>
                <th>N</th>
                <th>Название</th>
                <th>Цена</th>
            </tr>

            @for (int i = 0; i < Model.Count; i++)
            {
                <tr>
                    <td>@(i+1)</td>
                    <td><a class="text-dark" href="/product/index/@Model[i].Id" role="button">@Model[i].Name</a></td>
                    <td>@Model[i].Cost</td>
                    <td><a class="text" href="/administration/EditProduct/@Model[i].Id" role="button">Редактировать</a></td>
                    <td><a class="text" href="#" role="button">Удалить</a></td>
                </tr>
            }


        </table>
    </div>
</div>