<style>
    table, th, td, caption, tr {
        border: 1px solid black;
    }

    table {
        border-collapse: collapse;
    }
</style>

<div class="row">
     @await Html.PartialAsync("Menu")

    <div class="column">
        <table>
            <tr>
                <th>Продукты</th>

            </tr>
            <tr>
               
            </tr>
            <tr></tr>
        </table>
    </div>
</div>