<div class="col-3">
    <div class="list-group">

        <a class="list-group-item list-group-item-action"
           asp-area = "Admin" 
           asp-controller="Order" 
           asp-action="Index">Orders</a>

        <a class="list-group-item list-group-item-action" 
           asp-area = "Admin" 
           asp-controller="User" 
           asp-action="Index">Users</a>

        <a class="list-group-item list-group-item-action" 
           asp-area = "Admin" 
           asp-controller="Status" 
           asp-action="Index">Status</a>

        <a class="list-group-item list-group-item-action" 
           asp-area = "Admin" 
           asp-controller="Product" 
           asp-action="Index">Products</a>
    </div>
</div>
           

