<div class="row">
    @await Html.PartialAsync("AdministrationMenu")
    <div class="col-10">
        <h3>Изменения сохранены!</h3>
        <br />
        <a href="/administration/products">Вернуться к списку продуктов</a>
    </div>
</div>