@{
    ViewData["Title"] = "Панель администратора";
}

<div class="container">
    <div class="row">
        @await Html.PartialAsync("MenuAdminPanel")
        <div class="col">
            <div class="container">
                <h3 class="display-5 Title_sile text-center">Панель администратора</h3>
            </div>
        </div>
    </div>
</div>






