@model RegistrationData
<form method="post">
    <div class="row">
        @await Html.PartialAsync("AdministrationMenu")
        <div class="col text-center">
            <div class="validation" asp-validation-summary="All"></div>
            <h3>Добавление нового пользователя</h3>
            <div>
                <label asp-for="Name">Имя</label>
                <input asp-for="Name" />
                <span asp-validation-for="Name" />
            </div><br />
            <div>
                <label asp-for="Age">Возраст</label>
                <input asp-for="Age" />
                <span asp-validation-for="Age" />
            </div><br />
            <div>
                <label asp-for="Email">E-mail</label>
                <input asp-for="Email" />
                <span asp-validation-for="Email" />
            </div><br />            
            <div>
                <label asp-for="Password">Пароль</label>
                <input type="password" asp-for="Password" />
                <span asp-validation-for="Password" />
            </div><br />
            <div>
                <label asp-for="PasswordConfirm">Повторите пароль</label>
                <input type="password" asp-for="PasswordConfirm" />
                <span asp-validation-for="PasswordConfirm" />
            </div>
            <br />
            <button class="btn btn-dark" type="submit" asp-area="admin" asp-controller="user" asp-action="add">Добавить</button>
        </div>
    </div>
</form>
