@using OnlineShopWebApp.ViewModels
@model RegisterViewModel

<div class="row">
    @await Html.PartialAsync("AdminLeftPanel")
    <div class="col-9">
        <div class="card">
            <div class="card-body">
                <h3>Новый пользователь</h3>
                <form asp-controller="User" asp-action="AddUser">
                    <div class="validation" asp-validation-summary=ModelOnly></div>
                    <div class="row justify-content-center">
                        <div class="col">
                            <div class="mb-3">
                                <input type="text" asp-for="Name" class="form-control" placeholder="имя" />
                                <span asp-validation-for="Name"></span>
                            </div>
                            <div class="mb-3">
                                <input type="email" asp-for="Email" class="form-control" placeholder="email" />
                                <span asp-validation-for="Email"></span>
                            </div>
                            <div class="mb-3">
                                <input type="password" asp-for="Password" class="form-control" placeholder="пароль" />
                                <span asp-validation-for="Password"></span>
                            </div>
                            <div class="mb-3">
                                <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="повторить пароль" />
                                <span asp-validation-for="ConfirmPassword"></span>
                            </div>
                            <div class="mb-3 text-center">
                                <button type="submit" class="btn btn-dark">Добавить</button>
                                <a class="btn bnt-dark" asp-controller="User" asp-action="Index">Отмена</a>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
        </div>


    </div>
</div>