@model NewPassword

<form method="post">
    <div class="row">
        @await Html.PartialAsync("AdministrationMenu")
        <div class="col text-center">
            <div class="validation" asp-validation-summary="All"></div>
            <h3>Изменить пароль</h3>
            <input type="hidden" name="userName" value="@Model.UserName" />
            <div>
                <label asp-for="Password">Пароль</label>
                <input type="password" asp-for="Password" />
                <span asp-validation-for="Password" />
            </div>
            <br />
            <div>
                <label asp-for="PasswordConfirm">Повторите пароль</label>
                <input type="password" asp-for="PasswordConfirm" />
                <span asp-validation-for="PasswordConfirm" />
            </div><br />
            <button class="btn btn-dark" type="submit" asp-area="Admin" asp-controller="user" asp-action="ChangePassword">Сохранить</button>
        </div>
    </div>
</form>

