@using OnlineShopWebApp.Areas.Admin.Models
@model NewPassword

<form asp-action="ChangePassword" asp-controller="User">
    <div class="validation" asp-validation-summary="ModelOnly"></div>
    <div class="container align-content-center">
        <div class="row text-center">
            <div class="col-4 mx-auto">
                <div class="mb-3">
                    <input name="UserId" hidden value="@Model.UserId" />
                    <input class="form-control" asp-for="Password" placeholder="Введите новый пароль пароль">
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="mb-3">
                    <input class="form-control" asp-for="ConfirmPassword" placeholder="Введите новый пароль повторно">
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-outline-dark"
                            asp-area="Admin" asp-controller="User"
                            asp-action="ChangePassword">
                        Изменить пароль
                    </button>
                </div>
            </div>
        </div>
    </div>
</form>
