@using OnlineShopWebApp.ViewModels

@model UserPasswordViewModel

<div class="row">
    @await Html.PartialAsync("AdminLeftPanel")
    <div class="col-9">
        <div class="card">
            <div class="card-body">
                <h3>Новый пользователь</h3>
                <form asp-controller="User" asp-action="ChangePassword">
                    <div class="validation" asp-validation-summary=ModelOnly></div>
                    <div class="row justify-content-center">
                        <div class="col">
                            <div class="mb-3">
                                <input type="password" asp-for="NewPassword" class="form-control" placeholder="новый пароль" />
                                <span asp-validation-for="NewPassword"></span>
                            </div>
                            <div class="mb-3">
                                <input type="password" asp-for="ConfirmNewPassword" class="form-control" placeholder="повторить новый пароль" />
                                <span asp-validation-for="ConfirmNewPassword"></span>
                            </div>
                            <input type="hidden" asp-for="Id" value="@Model.Id" />
                            <div class="mb-3 text-center">
                                <button type="submit" class="btn btn-dark">Изменить</button>
                                <a class="btn btn-dark" asp-controller="User" asp-action="Index">Отмена</a>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>