@using OnlineShopWebApp.Models;
@using OnlineShopWebApp.Areas.Admin.Models;
@using OnlineShopWebApp.Models.Attributes;

@model ChangePassword

@{
    ViewData["Title"] = "Change Password";
}
<div class="container align-content-center">
    <div class="row">
        <div class="col-2">
            @await Html.PartialAsync("AdminMenuLeft")
        </div>
        <div class="col-5">
            <h2>Change password</h2>
            <div class="validation" asp-validation-summary="All"></div>
            <form asp-controller="User" asp-action="ChangePassword" asp-area="Admin">
                <div class="validation" asp-validation-summary="All"></div>
                <div class="mb-3">
                    <input class="form-control" asp-for="Signup.FirstName" />
                    <span asp-validation-for="Signup.FirstName"></span>
                </div>
                <div class="mb-3">
                    <input class="form-control" asp-for="Signup.LastName">
                    <span asp-validation-for="Signup.LastName"></span>
                </div>

                <div class="mb-3">
                    <label class="form-label text-muted" asp-for="Signup.Password">New password</label>
                    <input class="form-control" type="password" asp-for="Signup.Password" />
                    <span asp-validation-for="Signup.Password"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label text-muted" asp-for="Signup.ConfirmPassword">Confirm password</label>
                    <input class="form-control" type="password" asp-for="Signup.ConfirmPassword" />
                    <span asp-validation-for="Signup.ConfirmPassword"></span>
                </div>
                <div class="mb-3">
                    <button class="btn btn-outline-dark btn-sm" type="submit" asp-area="Admin" asp-controller="User" asp-action="ChangePassword" asp-route-id="@Model.User.Id">Change password</button>
                </div>
            </form>
        </div>
    </div>
</div>