@model ChangePassword
<form method="post">
	<div>
		<h3>Сменить пароль</h3>
	</div>

	<div class="text-danger font-weight-bold" asp-validation-summary="All"></div>

	<input type="hidden" asp-for="UserName"/>

	<div class="row">
		<div class="col-6">
			<label asp-for="Password">Новый пароль</label><br />
			<input class="form-control" asp-for="Password" />
			<span asp-validation-for="Password" />
		</div>
	</div>
	<div class="row">
		<div class="col-6">
			<label asp-for="ConfirmPassword">Подтвердить пароль</label><br />
			<input class="form-control" asp-for="ConfirmPassword" />
			<span asp-validation-for="ConfirmPassword" />
		</div>
	</div>
	<div>
		<button type="submit" asp-area="Admin" asp-controller="User" asp-action="ChangePassword">Сменить пароль</button>
	</div>
</form>
