@model UserAccount

<div class="row">
    <div class="col-6">
        <table class="table">
            <tbody>
                <tr>
                    <td>Логин</td>
                    <td>@Model.Login</td>
                </tr>
                <tr>
                    <td>Имя</td>
                    <td>@Model.Name</td>
                </tr>
                <tr>
                    <td>Возраст</td>
                    <td>@Model.Age</td>
                </tr>
                <tr>
                    <td>E-mail</td>
                    <td>@Model.Email</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

