@model UserViewModel

<form method="post" asp-action="Edit">
<div class="row">
	@await Html.PartialAsync("AdminMenu")


	<div class="col-9">
		<h3>Редактировать аккаунт</h3>

		<div class="validation" asp-validation-summary="All"></div>

		<input type="hidden" asp-for="FirstName"/>

		<input type="text" asp-for="Phone"/>
		<span asp-validation-for="Phone">Редактировать телефон</span><br />

		<input type="email" asp-for="Email"/>
		<span asp-validation-for="Email">Редактировать логин</span><br />
		
		<br />
		<button type="submit" class="btn-outline-success"

		        asp-area="Admin"
		        asp-controller="User"
		        asp-action="Edit"
		        asp-route-name="@Model.FirstName">Сохранить изменения</button> 
	</div>

</div>
</form>