@{
    ViewData["Title"] = "Success!";
}
<div class="container align-content-center">
    <div class="row text-center">
        <div class="col-6 mx-auto">
            <h2>Password changed successfully!</h2>
            <div class="mt-3">
                <a class="btn btn-outline-dark btn-sm text-nowrap active" role="button"
                   asp-area="Admin" asp-controller="User" asp-action="Index">Go back</a>
            </div>
        </div>
    </div>
</div>