<div class="row">
    @await Html.PartialAsync("AdministrationMenu")
    <div class="col-10">
        <h3>Продукт успешно добавлен!</h3>
        <br />
        <a asp-area="admin" asp-controller="administration" asp-action="products">Вернуться к списку продуктов</a>
    </div>
</div>