@using OnlineShopWebApp
@model ProductViewModel

<form method="post" enctype="multipart/form-data">
    <h2>Добавление нового продукта:</h2>


    <p>Введите наименование продукта:</p>
    <input type="text" name="Name" required />



    <p>Введите цену товара:</p>
    <input type="number" name="Cost" required/>

    <p>Введите описание товара:</p>
    <input type="text" name="Description" required/> <br />
    <p></p>

    <p>Загрузите изображение продукта:</p>
    <input type="file" name="UploadedFile" class="form-control">

    <button class="btn btn-dark" type="submit" asp-controller="Administration" asp-action="SaveAddedProduct">Добавить продукт</button>


</form>
@*@section Scripts{
    @await Html.PartialAsync("_ValidationScriptsPartial")
}*@