<div class="row">
    @await Html.PartialAsync("AdministrationMenu")
    <div class="col-10">
        <h3>Изменения сохранены!</h3>
        <br />
        <a asp-area="Admin" asp-controller="administration" asp-action="products" >Вернуться к списку продуктов</a>
    </div>
</div>