<div class="col-1">
        <table>
            <tr>
                <td>
                    <a class="text-dark" href="/administration/orders" role="button">Заказы</a>
                </td>

            </tr>
            <tr>
                <td><a class="text-dark" href="/administration/users" role="button">Пользователи</a></td>

            </tr>
            <tr>
                <td> <a class="text-dark" href="/administration/roles" role="button">Роли</a></td>

            </tr>
            <tr>
                <td><a class="text-dark" href="/administration/products" role="button">Продукты</a></td>
            </tr>
        </table>
    </div>
    <div class=col-2>

    </div>