@model Product

<div class="modal fade" id="removeProductId"  tabindex="-1" role="dialog" aria-labelledby="removeProductId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="removeProductId">Modal title</h5>

            </div>
            <div class="modal-body">
                <p>Удалить продукт @Model.Name ?</p>
            </div>
            <div class="modal-footer">
                <a class="btn btn-secondary" href="/admin/administration/RemoveProduct/@Model.Id/" role="button">Да</a>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Нет</button>

            </div>
        </div>
    </div>
</div>