@using OnlineShopWebApp
@model List<RoleViewModel>

<div class="row">
    @await Html.PartialAsync("Menu")

    <div class="column">
        <table>
            <tr>
                <th>Роли</th>

            </tr>
            @if (Model != null)
            {
                @foreach (var role in Model)
                {
                    <tr>
                        <td>@role.Name</td>
                        <td><a class="btn-outline-dark" href="/admin/administration/removerole/?name=@role.Name" role="button"> Удалить </a></td>
                    </tr>
                }

            }
        <tr>
            <td><a class="btn-outline-dark" href="/admin/administration/addrole" role="button"> Добавить </a></td>
        </tr>
        </table>
    </div>
</div>