@model List<ProductViewModel>
@if (@Model == null || Model.Count == 0)
{
    <h2>В Вашем избранном ничего нет</h2>
}
else
{
<h1><b>Ваше избранное:</b></h1>
<div class="row">

    @foreach (var product in Model)
    {

        <div class="col card shadow">
            <img class="card-img-top" src="@product.imagePath">

            <div class="card-body">
                <a style="color:black" href="/product/index/@product.Id">
                    <h5>@product.Name</h5>
                </a>
                <h5>@product.Cost rub.</h5>
                <a class="btn btn-dark" href="/cart/addtocart/@product.Id" role="button">добавить в корзину</a>
                <br />
                <br /> <a class="btn btn-dark" href="/comparison/addtocompare/@product.Id" role="button">сравнить</a>
                <br />
                <br /> <a class="btn btn-dark" href="/favorites/remove/@product.Id" role="button">удалить из избранного</a>
            </div>

        </div>

    }

</div>
}



