@using OnlineShopWebApp.Models
@model Favorites

@{
    ViewData["Title"] = "Favorites";
}

<div class="container">   
    <div class="row">
        <div class="col-12 mb-4">
            <h2>Favorites</h2>
        </div>
        @foreach (var item in Model.Products)
        {
            <div class="col-4 mb-4">
                <img class="img-thumbnail mb-2" src="@item.Image" alt="@item.Name">
                <a style="color: darkblue" href="/product/index/@item.Id"><h5>@item.Name</h5></a>
                <h6>$@item.Cost</h6>                
                <div class="row justify-content-between">
                    <div class="col-auto text-left">
                        <a class="btn btn-outline-dark btn-sm text-nowrap" href="/basket/add/@item.Id" role="button">Add to basket</a>
                    </div>
                    <div class="col-auto text-right">
                        <a class="btn btn-outline-dark btn-sm text-nowrap" href="/favorites/remove/@item.Id" role="button">Remove</a>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="row mt-4">
        <div class="col-6 text-right">
            <a class="btn btn-outline-dark btn-sm text-nowrap" href="/" role="button">Continue shopping</a>
        </div>
        <div class="col-6 text-left">
            <a class="btn btn-outline-dark btn-sm text-nowrap" href="/favorites/clear" role="button">Clear</a>
        </div>
    </div>
</div>





