@model ChangePassword

@{
    ViewData["Title"] = "Смена пароля";
}

<form method="post"  asp-area="Admin" asp-controller="Users" asp-action="ChangePassword">
    <div class="container">
        <div class="was-validated"  asp-validation-summary="All"></div>
        <h3 class="display-5 text-center">Смена пароля</h3>
        <p></p>
        <input type="hidden"  name="Login" asp-for="Login" value="@Model.Login"/>
        <div class="form-group  col-md-3 mx-auto">
            <label asp-for="Password" class="text-center">Пароль</label>
            <input type="password" class="form-control" name="Password" asp-for="Password"/>
            <span asp-validation-for="Password"></span>
        </div>
        <div class="form-group  col-md-3 mx-auto">
            <label asp-for="PasswordConfirm" class="text-center">Повтор пароля</label>
            <input type="password" class="form-control" name="PasswordConfirm" asp-for="PasswordConfirm"/>
            <span asp-validation-for="PasswordConfirm"></span>
        </div>
        <p></p>
        <div class="col-md-3 mx-auto">
            <button type="submit" class="btn btn-outline-dark text-center" asp-area="Admin" asp-controller="Users" asp-action="ChangePassword">Сменить</button>
        </div>
    </div>
</form>






