@using OnlineShopWebApp.Areas.Admin.Models

@model ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
}
<div class="container align-content-center">
    <div class="row">
        <div class="col-2">
            @await Html.PartialAsync("UserMenuLeft")
        </div>
        <div class="col-5">
            <h2>Change password</h2>
            <div class="validation" asp-validation-summary="All"></div>
            <form asp-controller="Account" asp-action="ChangePassword" asp-area="">
                <div class="validation" asp-validation-summary="ModelOnly"></div>
                <input name="Id" hidden value="@Model.Id" />
                <input name="FirstName" hidden value="@Model.FirstName" />
                <input name="LastName" hidden value="@Model.LastName" />
                <div class="mb-3">
                    <label class="form-label text-muted" asp-for="CurrentPassword">Current password</label>
                    <input class="form-control form-control-sm" type="password" asp-for="CurrentPassword" />
                    <span asp-validation-for="CurrentPassword"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label text-muted" asp-for="NewPassword">New password</label>
                    <input class="form-control form-control-sm" type="password" asp-for="NewPassword" />
                    <span asp-validation-for="NewPassword"></span>
                </div>
                <div class="mb-3">
                    <label class="form-label text-muted" asp-for="ConfirmNewPassword">Confirm new password</label>
                    <input class="form-control form-control-sm" type="password" asp-for="ConfirmNewPassword" />
                    <span asp-validation-for="ConfirmNewPassword"></span>
                </div>
                <div class="mb-3">
                    <button class="btn btn-outline-dark btn-sm" type="submit" asp-area="" asp-controller="Account" asp-action="ChangePassword">Change password</button>
                </div>
            </form>
        </div>
    </div>
</div>