@using OnlineShopWebApp.Models

@model Account

<h2 align="center">Вход</h2>

@if (Model == null)
{
    <div class="form">
        <form class="form-horizontal" role="form" method="POST" asp-action="Account">
            <div class="form-group" align="center">
                <div class="form-group">
                    <label for="inputEmail" class="col-sm-2 control-label">Логин</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" placeholder="Логин" name="login">
                    </div>
                </div>
                <div class="form-group" align="center">
                    <label for="inputPassword" class="col-sm-2 control-label">Пароль</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" placeholder="Пароль" name="password">
                    </div>
                </div>
                <div class="form-group" align="center">
                    <div class="col-sm-offset-2 col-sm-10">
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="rememberme"> Запомнить меня?
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group" align="center">
                    <div class="col-sm-offset-2 col-sm-10">
                        <p>
                        <button type="submit" class="btn btn-dark" asp-controller="Account" asp-action="Login">Войти</button>
                        </p>
                    </div>
                    <div class="col-sm-offset-2 col-sm-10">
                        <p>
                        <button type="submit" class="btn btn-light" asp-controller="Account" asp-action="Registration">Регистрация нового пользователя</button>
                        </p>
                    </div>
                </div>
            </div>
        </form>
    </div>
}
else
{
    <div class="">
        <div>Вы авторизованы!</div>
    </div>
}