
<form method="post">
    <div>
        <h2>Вход</h2>
    </div>

    <div class="row">
        <div class="col-3">
            <input type="text" name="username" />
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <input class="form-control" ctype="password" name="password" />
        </div>
    </div>

    <div class="row">
        <div class="col-3">
            <label>Запомнить меня</label>
            <input class="form-control" type="checkbox" name="rememberMe" />
            <a class="form-control" href="/account/register">Регистрация нового пользователя</a>
        </div>
    </div>

    <div>
        <button type="submit" asp-controller="Account" asp-action="Login">Войти</button>
    </div>
</form>