@using OnlineShopWebApp.Areas.Admin.Models
@model Login

<form method="post">

    <div class="text-danger font-weight-bold" asp-validation-summary="ModelOnly"></div>

    <div class="mb-3">
        <label asp-for="InputEmail1" class="form-label">Электронный адрес</label>
        <input type="email" class="form-control" asp-for="InputEmail1" aria-describedby="emailHelp">
        <span asp-validation-for="InputEmail1"></span>
    </div>
    <div class="mb-3">
        <label asp-for="InputPassword" class="form-label">Пароль</label>
        <input type="password" class="form-control" asp-for="InputPassword">
        <div id="passwordHelp" class="form-text"><a href="#">Забыли пароль?</a></div>
        <span asp-validation-for="InputPassword"></span>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" name="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Запомнить данные входа</label>
    </div>
    <button type="submit" class="btn btn-outline-primary" asp-controller="Account" asp-action="Registration">Регистрация</button>
    <button type="submit" class="btn btn-primary">Продолжить</button>
</form>