@model EnterData

<form method="post">
    <div class="row text-center">
        <div class="col">
            <div class="validation" asp-validation-summary="All"></div>            
            <h3>Вход</h3>
            <input type="hidden" name="returnUrl" value="@Model.ReturnUrl"/>
            <div>
                <label asp-for="Login">Логин</label>
                <input asp-for="Login" />
                <span asp-validation-for="Login" />
            </div><br />
            <div>
                <label asp-for="Password">Пароль</label>
                <input type="password" asp-for="Password" />
                <span asp-validation-for="Password" />
            </div><br />
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="true" name="remember">
                <label class="form-check-label">
                    Запомнить меня
                </label>
            </div>
            <br />
            <button class="btn btn-dark" type="submit" asp-controller="Account" asp-action="Login" >Вход</button>
            <br />            
            <a asp-area="" asp-controller="Account" asp-action="registration" asp-route-returnUrl="@Model.ReturnUrl">Регистрация нового пользователя</a>
        </div>
    </div>
</form>
