@using OnlineShopWebApp.Models

@model Account

<h2 align="center">Вход</h2>

@if (Model == null)
{
    <div>
        <form method="post">
            <div class="validation" asp-validation-summary="All"></div>
            <div class="form-group">
                <label asp-for="Login">Логин</label><br />
                <input asp-for="Login" name="username" class="form-control" required minlength="3" maxlength="25">
                <span asp-validation-for="Login"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Пароль</label>
                <input asp-for="Password" name="password" class="form-control" required>
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">Подтвердите пароль</label>
                <input asp-for="Password" name="confirmPassword" class="form-control" required>
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <p><button class="btn btn-dark" type="submit" asp-controller="Account" asp-action="Registration" align="center">Зарегистрироваться</button></p>
            </div>
        </form>
    </div>
}
else
{
    <div class="">
        <div>Вы уже зарегистрированы!</div>
    </div>
}