@using OnlineShopWebApp.Models

@model Account

<h2 align="center">Вход</h2>

@if (Model == null)
{
    <div>
    <form method="post">
        <div class="form-group">
            <input type="email" name="username" class="form-control" placeholder="Логин" required minlength="3" maxlength="25">
        </div>
        <div class="form-group">
            <input type="password" name="password" class="form-control" placeholder="Пароль" required>
        </div>
        <div class="form-group">
            <input type="password" name="confirmPassword" class="form-control" placeholder="Подтвердите пароль" required>
        </div>
        <div>
            <p><button class="btn btn-dark" type="submit" asp-controller="Account" asp-action="Registration" align="center">Зарегистрироваться</button></p>
        </div>
    </form>
    </div>
}
else
{
    <div class="">
        <div>Вы уже зарегистрированы!</div>
    </div>
}