@using OnlineShopWebApp.Models
@using OnlineShopWebApp.Models.Attributes;

@model SignupViewModel

@{
    ViewData["Title"] = "Sign up";
}
<div class="container align-content-center">
    <div class="row text-center">
        <div class="col-4 mx-auto">
            <h2>Sign up</h2>
            <form asp-controller="Account" asp-action="Signup">
                <div class="validation" asp-validation-summary="All"></div>
                <div class="mb-3">
                    <input class="form-control" asp-for="FirstName" placeholder="First name">
                    <span asp-validation-for="FirstName"></span>
                </div>
                <div class="mb-3">
                    <input class="form-control" asp-for="LastName" placeholder="Last name">
                    <span asp-validation-for="LastName"></span>
                </div>
                <div class="mb-3">
                    <input class="form-control" asp-for="Phone" placeholder="Phone number">
                    <span asp-validation-for="Phone"></span>
                </div>
                <div class="mb-3">
                    <input class="form-control" asp-for="Email" placeholder="Email">
                    <span asp-validation-for="Email"></span>
                </div>
                <div class="mb-3">
                    <input class="form-control" asp-for="Password" type="password" placeholder="Password">
                    <span asp-validation-for="Password"></span>
                </div>
                <div class="mb-3">
                    <input class="form-control" asp-for="ConfirmPassword" type="password" placeholder="Confirm password">
                    <span asp-validation-for="ConfirmPassword"></span>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-outline-dark btn-sm active" asp-controller="Account" asp-action="Signup">Sign up</button>
                </div>
            </form>
            <div class="mb-3">
                Already have an account? <a asp-controller="Account" asp-action="Signin">Sign in</a>
            </div>
        </div>
    </div>
</div>
